<a href="https://colab.research.google.com/github/lsuhpchelp/loniscworkshop2024/blob/main/day1/Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Python**

Date: June 2nd, 2025

LONI Scientific Computing Bootcamp, 9:00 am

by Oleg N. Starovoytov

olegs@lsu.edu

![image.png]()

www.python.org

Disclamer

---
The information, examples, or code provided are for educational and informational purposes only. I make no representations or warranties of any kind, express or implied, about the completeness, accuracy, relability, or suitability of the content. Any reliance you place on such information is strictly at your own risk. I am not liable for any loss or damage, direct or indirect, arising from the use or misuse of this content.

The content of this file is organized and presented to the reader in several sections to help understand and learn Python programming language more effectively. Each section is devided into Description, Note, Syntax, and Examples. This structure is designed to make the material clear, practical, and easy to follow.
---

Description

---
The Description section explains a particular concept that is used in Python for operator, function, module, class etc. Its gives an overview of its pupose, the behavior, and when it can typically be used. This section helps students to better understand and get familiar with the concept.

Note

---
The Note section is used to share additional information that may be helpful but is not essential to the main topic. This can include related concepts with more context, tips, warnings, or reminders. The Note section may also mention useful ideas that could support your overall understanding or learning process. It can be helpful extra insight or advice to deepen the understanding.

Syntax

---
The Syntax section shows the correct way of writing the concept in Python. It focuses on the structure and format, such as the order of elements, used symbols, and required components. This section is essential for learning how to apply the concept while programming.

Examples

---
The Examples section provides practical code snippets that demonstrate how the concept is used in real scenarious. This section helps to reinforce understanding by showing the concept in action.

# Outline

Section 1: **Python programming basics**

Section 2: **Operators**

Section 3: **Data collections**
   
Section 4: **Control flow**

Section 5: **Functions**

Section 6: **Modules**

Section 7: **Classes**

Section 8: **Exceptions**

Section 9: **Input and output (I/O) operations**

Section 10: **Miscellaneous**

Python Version Notice

---
In this quide, we will be using Python 3.11.12 (main, Apr  9 2025, 08:55:54) [GCC 11.4.0] (e.g., Python 3.12). All examples and syntax are compatible with Python3 and may not work as expected in Python 2. It is recommended to run this code in an environment where Python 3.x is installed, such as Google Colab, Jupyter Notebook, or local Python 3 setup.

In [ ]:
import sys
print(sys.version)

In [ ]:
!python3 --version

Note

---
In this guide, we will use specific variables for clarity and consistency. The variables *a* and *b* will be used for demonstrating bitwise operations, as they typically involve integer values at the binary level. For all other examples, including arithmetic, comparison, logical, assignment, and string operations, we will be using variables defined according to Camel Case convention like *myVariable*. We may use simple names like *x*, *y*, and *z* for clarity purposes. This helps keep the examples organized and makes it easier to distinguish between general purpose and low-level bitwise operations.

# Section 1: Python programming basics

1.1 Print function

1.2 Comments

1.3 Variables

1.4 Datatypes

1.5 Literals

1.6 Numbers

1.7 Casting

1.8 Boolean

1.9 String

1.1 Print function
---

Description

---
The print() function is used to display output on the screen. We will use it frequently to check values, debug your code, and show your results. That is why I would like you to get familiar with this function first.

Syntax

---

          print(arguments)

Examples

---

In [ ]:
print("Hello, World!")

1.2 Comments
---

Description

---
Comments are an essential part of programming. It is encouraged to leave comments inside of your code, making it easier for others to understand your code. Comments in Python are made using a ( # ) sign to comment on a single line and using three single quotes ( ' ' ' ) or three double quotes ( " " " ) to comment on multiple lines. Triple-quoted strings are technically string literals, not true comments. They are often used for docstrings (documentation strings) inside functions, classes, and modules.

Note

---
The "Lorem ipsum dolor sit amet ..." is not random Latin, it is a scrambled section of a passage from Cicero's writings in 45 BC. Its use became widespread in the 1960s with typesetting software. This passage is used to focus on layout and design elements rather than readable content. It is a placeholder text commonly used in publishing graphic design, and web development to fill a space on a page and give an impression of how the final text will look. It is known as "dummy text".

"*Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.*"

Syntax

---
            # Lorem ipsum dolor sit amet ...
        
          ''' Lorem ipsum dolor sit amet ... '''

        " " " Lorem ipsum dolor sit amet ... " " "

Examples

---

In [ ]:
# This is my first comment

print("Hello, World!")

In [ ]:
# Using three single quotes to make a multiple line comment

''' This is a multiple
    line
    comment '''

print("Hello, World!")

In [ ]:
# Using three double quotes to make a multiple line comment

""" This is a multiple
    line
    comment """

print("Hello, World!")

Note

---
Professional programmers often include a header comment at the top of each source code file. This section provides essential information such as author's name, creation date, a brief description of the code, version or update history, license or contact information, and other important information. See example below.

Examples

---

In [ ]:
# function sortedArray = sort(myFirstArray)

# Author:  First name Second name (somename@address.edu)
# Date:    12/10/1815
# Updated: 06/10/1835
# Description: The sort function is sorting an array of integers
# Parameters: Array
# Return: Sorted array
# Example of usage: myFirstArray = [23,20,45,14,2]
#                   sortedArray  = [2,14,20,23,45]

1.3 Variables
---

Description

---
Variables are used to store data values that can be referenced and manipulated later in a program. A variable is created when you assign it a value using assignemnt operator (=). No particular type is used upon variable declaration.You do not need to declare the variable type explicitly like in other programming languages, Python determines that authomatically based on the datatype that being assignd to it. A variable's name references or points to an object. Each object can have various data types with some stored values.

Syntax

---
          myVariable = value

 Examples

---

In [ ]:
# Illegal declaration of variables

100myFirstVariable  = "Lorem"  # can not start with a number
my-first-variable   = "Lorem"  # can not have dash in the name
my first variable   = "Lorem"  # can not have spaces in the variable's name
&myFirstVariable    = "Lorem"  # can not have special characters in the name
              for   = "Lorem"  # can not use reserved python keywords

In [ ]:
# Correct declaration of variables

myFirstVariable     = "Lorem"
MyFirstVariable     = "Lorem"
my_first_variable   = "Lorem"
_my_first_Variable  = "Lorem"
MY_FIRST_VARIABLE   = "Lorem"
myFirst_Variable363 = "Lorem"

In [ ]:
# Usual declaration of variables

a = 1
b = 'Hello, World'
c = -100000000000
d = 0.345
e = True
f = 5.0E-51
g = 1_000_000_000
A_65_ASCII = "A"

Note

---

There are naming conventions that are commonly used in programming to make variable, function, and class names easier to read. You can use any of these three conventions to develop your code. However, class names should start with a capital letter or using Pascal case.

Syntax

---

   **Camel Case** - each word starts with a capital letter except the first one.

        myVariableName

   **Pascal Case** - each word starts with a capital letter.

        MyVariableName

   **Snake Case** - each word is connected by underscore.

        my_variable_name

Examples

---

In [ ]:
# Declaration of a variable using Camel Case

myCamelCase = "Camel Case"

print(myCamelCase)

In [ ]:
# Declaration of a variable using Pascal Case

MyPascalCase = "Pascal Case"

print(MyPascalCase)

In [ ]:
# Declaration of a variable using Snake Case

my_snake_case = "Snake Case"

print(my_snake_case)

Note

---
Variables are created and initialized when you first assign a value to them. Unlike some other programming languages, you do not need to declare the type of the variable beforehand. Python will automatically determine the type of a variable based on the assigned value. There are various ways to assign values to variables in Python.

Examples

---

In [ ]:
# Assign multiple values to multiple variables in one line

x, y, z = 23.4, 35.6, 45.1

print(x)
print(y)
print(z)

In [ ]:
# Assign multiple values of multiple data types to multiple variables in one line

x, atomName, stateID = 23.4, "Carbon", True

print(x)
print(atomName)
print(stateID)

In [ ]:
# Assign one value to multiple variables

x = y = z = 2.25

print(x)
print(y)
print(z)

In [ ]:
# Using unpacking method to assign values to variables

coordinates = [2.35, 6.37, -8.94]
x, y, z = coordinates

print(x)
print(y)
print(z)

In [ ]:
# When unpacking a list, you can use _ to ignore certan values.

coordinates = [2.35, 6.37, -8.94]
x, _, z = coordinates

print(x)
print(z)

Note

---
Variables are references to objects, and while you can reassign them or modify their content, sometimes you might need to remove them or delete an object from memory. To delete a variable you need to use the del statement.

Syntax

---
          del myVariable

Examples

---

In [ ]:
# Deleting a variable using the del command

myTenthVariable = 65

print (myTenthVariable)
del myTenthVariable

Note

---
**Global and local variables:**

Global variables are the variables that can be accessed from anywhere in your code. Local variables are accessible within a local scope. Please see the Function section for more information about global and local variables.

Note

---
Single leading underscore ( _myVariable ) indicates that a variable is intended for internal use or should be treated as private, however, it does not enforce
strict privacy. It is convention among programmers to indicate that a variable or a method is not meant for public use.

Double leading underscore ( _ _myVaraible ) triggers name mangling, where the interpreter changes the variable name to prevent accidental overriding in subclasses, protecting its name.

Single trailing underscore ( myVariable_ ) can be used to avoid naming conflicts with python keywords. For instance, ( class_ ) can be used instead of class, which is reserved keyword.

1.4 Data types
---

Description

---
Data types define the kind of values a variable can hold. The datatype of a variable is determined at runtime in Python. It supports many built-in data types, including numeric types like int, float, and complex for numbers; sequence types like str, list, and tuple for ordered collections; mapping type like dictionary or dict for key-value pairs; and set types like set and frozenset for unordered collections of unique elements. There are also Boolean type, bool, and NoneType for the absence of a value. Python allows you to create your own data type using classes. Understanding data types is essential for writing correct and efficient Python code, as different operations and methods apply to different types.

Note

---
The five primitive data types are *int, float, str, bool, and NoneType*. All other are types are non-primitive, including *lists, tuples, dictionary, set, file*, and etc. Python uses classes to define its data types, including its primitive types. These types are the foundation of all data structures and expressions in Python, and they are immutable, meaning that their values can not be changed after they are created.

Syntax

---
* Numeric Types:	*int, float, complex*
* Text Type: *str*
* Boolean Type:	*bool*
* Sequence Types:	*list, tuple, range*
* Mapping Type:	*dict*
* Set Types:	*set, frozenset*
* Binary Types:	*bytes, bytearray, memoryview*
* None Type:	*None*

Note

---
One can use the *type()* function to determine the data type of a variable.

Syntax

---
          type(myVariable)

Examples

---

In [ ]:
# Using type function: type()

myFirstVariable   = 23
mySecondVariable  = 0.00036
myThirdVariable   = 10+5j
myFourthVariable  = True

myFifthVariable   = "Hello, World!"
mySixthVariable   = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
mySeventhVariable = ("John", "Mikle", "Desbey")

myEighthVariable  = {"Name":"John", "Age":41, "Occupation":"Doctor"}

myNinthVariable   = {"apple", "banana", "cherry"}

myTenthVariable   = frozenset({"apple", "banana", "cherry"})

myEleventhVariable   = b"Hello"
myTwelvefthVariable  = bytearray(5)
myThirteenthVariable = memoryview(bytes(5))

myFourteenthVariable = None
myFifteenthVariable  = range(12)

print(type(myFirstVariable))
print(type(mySecondVariable))
print(type(myThirdVariable))
print(type(myFourthVariable))
print(type(myFifthVariable))
print(type(mySixthVariable))
print(type(mySeventhVariable))
print(type(myEighthVariable))
print(type(myNinthVariable))
print(type(myTenthVariable))
print(type(myEleventhVariable))
print(type(myTwelvefthVariable))
print(type(myThirteenthVariable))
print(type(myFourteenthVariable))
print(type(myFifteenthVariable))

1.5 Literals
---

Description

---
Literals are data that are assigned to the variables or constants when they are declared. In other words, it is a fixed value. There are five types of literals in Python: Numeric literals, Boolean literals, String literals, Collection literals, and Special literals. Literals are not the same as objects, but they create objects. Variables refer to or point to those objects. Python creates an object in memory to represent a literal, when a literal is assigned to a variable. Everything in Python is an object. In fact, every object in Python is an instance of a class.

Note

---

Numeric literals:    *integer, float, complex*

Boolean literals:    *True, False*

String literals:     *text surrounded by single, double, or triple quotes*

Collection literals: *List, Tuple, Dict, Set*

Special literal:     *None*

Syntax

---

          myVariable = literal

Examples

---

In [ ]:
# Example of literals

# Integer literal

numLiteralInt = 0

# Binary literal

numLiteralBin = 0b10100

# Decimal literal

numLiteralDec = 50

# Float literal

numLiteralFloat = 234.8

# Complex literal

numLiteralComp = 2 + 3j

# Boolean literal

numLiteralBool = True

# List listeral

numLiteralList = [1,2,3]

# Special literal

numLiteralSpecial = None

Note

---

Literals are not the same as objects, but they create objects. Variables refer to or point to those objects. Everything in Python is an object. Python language creates an object in memory to represent the literal. The literal value is an object of a class. Each object is an instance of a class. Every value is an instance of a class. Each class defines the behavior of its instances.

1.6 Numbers
---

Description

---
Primary numeric data types in Python are integers, floating-point numbers, and complex numbers. Integers are whole numbers, no decimal point, no fractional part. They can be positive, nagative, or zero. They also have arbitrary precision, htey can grow as large as memory allows. Floating-point numbers are eal numbers with decimals, fractional parts. They follow the IEEE 754 (IEEE Standard for Floating-Point Arithmetic. IEEE STD 754-2019 pp. 1–84. ISBN 978-1-5044-5924-2) double-precision standard. Precision is limited about 15-17 decimal digits. Complex numbers represent numbers with real and imaginary part. The imaginary unit is written as j. These numbers are mostly used in mathimatical, engineering, and physical contexts.

Syntax

---
          myVariable = numeric datatype

Examples

---

In [ ]:
# Integer
myIntNumber = 1

# Float
myFloatNumber = 1.0

# Complex
myComplexNumber = 1.0j

Binary, octal, and hexadecimal numbers
---

Description

---
In Python, you can work with *binary*, *octal*, and *hexadecimal* numbers using different prefixes and built-in functions. Here's how you can represent and work with these numeric bases.

Examples

---

**Binary (base 2)** can be represented by two digits [0,1] Base 2. The **bin()** function can be used to convert numbers to octal in Python. The prefix **‘0b’** is used with octal numbers with a zero followed by a lowercase **b**.

In [ ]:
# Binary numbers uses bin()

myFirstVariable  = 0b101 # The binary numbers start with 0b
mySecondVariable = 5

print(myFirstVariable)
print(mySecondVariable)

**Octal (Base 8)** — can be represented by 8 digits [0–7] Base 8. The **oct()** function can be used to convert numbers to octal in Python. The prefix **‘0o’** is used with octal numbers with a zero followed by a lowercase **o**.

In [ ]:
# Octal numbers use oct()

myFirstVariable  = 0o05    # The octal numbers start with "0o"
mySecondVariable = 5

print(myFirstVariable)
print(mySecondVariable)

**Hexadecimal (Base 16)** — can be represented by 10 digits [0–9] and 6 characters [A, B, C, D, E, F] Base 16. Where A is ten, B is eleven, C is twelve, D is thirteen, E is fourteen, and F is fifteen. The **hex()** function can be used to convert numbers to hexadecimal in Python. The prefix **‘0x’** is used with octal numbers with a zero followed by a lowercase **x**.

In [ ]:
# Hexadecimal numbers uses hex()

myFirstVariable  = 0x5 # The hexadecimal numbers start with "0x"
mySecondVariable = 5

print(myFirstVariable)
print(mySecondVariable)

1.7 Casting
---

Description

---
Casting refers to the process of converting a value from one data type to another. This is useful when you need to perform operations that require a specific type. There can be implicit conversions or explicit conversions using built-in functions. Explicit conversions can be performed with built-in functions like int(), float(), or str() as they act like constructors of different data types.

Syntax

---
          myVariable = function(VariableName)

Examples

---

In [ ]:
# Implicit conversion

myCastTest = 70
print(type(myCastTest))

myCastTest = myCastTest + 0.25
print(type(myCastTest))

In [ ]:
# Explicit conversion

myCastNumber = 7234
myCastString = str(myCastNumber)
myCastFloat  = float(myCastNumber)

print(type(myCastNumber))
print(type(myCastString))
print(type(myCastFloat))

In [ ]:
# Using casting to specify the data type

x = 5
y = 2

myFirstVariable  = complex(2 + 9)
mySecondVariable = complex( x )
myThirdVariable  = complex( x, y )

print("My complex number ", myFirstVariable )
print("My complex number ", mySecondVariable)
print("My complex number ", myThirdVariable )

1.8 Boolean
---

Description

---
Booleans can be either True or False. True corresponds to the value of 1 and False corresponds to the value of 0. Please, keep in mind that **True** is not the same as **TRUE** or **true**. Similarly, **False** is not the same as **FALSE** or **false**. Booleans are often used in conditionals, comparisons, and logical operations.

Syntax

---
          myVariable = Boolean value

Examples

---

In [ ]:
# Boolean

print(True)
print(False)

In [ ]:
# Casting of boolean

print(int(True))
print(int(False))

In [ ]:
# Boolean + number example

print(True + 1)
print(False + 1)

In [ ]:
# Boolean == number

print(True == 1)
print(False == 0)


1.9 Strings
---

Description

---
Strings are an immutable collection of alphanumeric characters that are enclosed with single or double quotes. Strings literals can not be changed after they have been created. A double-quoted string literal may contain single quotes. Characters within a string can be accessed using indexing reference values starting with zero. If the reference index is out of range, Python will raise an IndexError. To access a range of characters, you can use slicing. You can indicate the start index and the end index enclosed with square brackets to access a range of characters as shown below.

Syntax

---

          myString = "Lorem ..."

Examples

---

In [ ]:
# Assign string to a variable using single quotes

myFirstString = 'This is my first string'
print(myFirstString)

In [ ]:
# Assign string to a variable using double quotes

mySecondString = "This is my second string"
print(mySecondString)

In [ ]:
# Assign string to a variable using single and double quotes

myThirdString = "This's my third string"
print(myThirdString)

In [ ]:
# Assign string to a variable using single quotes

myFourthString = 'That's my fourth string'

In [ ]:
# Escaping sequence - you can have more than one escaping character

myFourthString = 'That\'s my fourth string'
print(myFourthString)

In [ ]:
# Printing the backslash

myBackSlash = "\\"
print(myBackSlash)

In [ ]:
# Assign string to a variable using double quotes with single quotes inside

myFifthString = "I'm an instructor and you're a good student!"
print(myFifthString)

In [ ]:
# Assign a multiple line string to a variable - single quotes

myTestVariable = ''' Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''

print(myTestVariable)

In [ ]:
# Assign a multiple line string to a variable - double quotes

myTestVariable = """ Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

print(myTestVariable)

String indexing
---

Description

---
Indexing is an important concept. Each character of a string has a unique index number. To access any characters of a string, we need to use the corresponding index number. Indexing of a string is the same as for a list, tuple, and dictionary but not a set. Sets are not indexed. The element of a string can be accessed using an index starting with 0.

Syntax

---
          myString[index]

Examples

---

In [ ]:
# Strings elements can be accessed by their index

# The indexes
# myTestString   =   [1,  2,  3,  4,  5,  6,  7,  8,  9, ..., 26]
# --------------------------
# index               0,  1,  2,  3,  4,  5,  6,  7,  8, ..., n-1
# negative index     -n,                                 ...,  -1
# myTestString[index]

myTestString="Lorem ipsum dolor sit amet"

print(myTestString[4])
print(myTestString[5])
print(myTestString[6])
print(myTestString[18])
print(myTestString[-1])
print(myTestString[-26])
print(len(myTestString))

String slicing
---

Description

---
The slicing technique allows one to access a range of characters in a string. The range of characters can be indicated by a start index number and an end index number in square brackets. The start index number has always an inclusive bound and the end index number has always an exclusive bound. In other words, the start index number is included in the range and the end index number is not.

Syntax

---
          myString[start index: end index: step]

Examples

---

In [ ]:
# Strings elements can be accessed by index

# The indexes
# myTestString   =   [1,  2,  3,  4,  5,  6,  7,  8,  9, ..., 26]
# --------------------------
# index               0,  1,  2,  3,  4,  5,  6,  7,  8, ..., n-1
# negative index     -n,                                 ...,  -1
# myTestString[start index: end index]

myTestString="Lorem ipsum dolor sit amet"

print(myTestString[:4])
print(myTestString[0:5])
print(myTestString[0:6])
print(myTestString[0:18])
print(myTestString[-12:-1])
print(myTestString[-26:-25])
print(len(myTestString))

String methods
---

Description

---
String are one of the most commonly used data types in Python. To help you work woth them efficiently, Pyhton provides many built-in methods that allow you to perform a variety of operations on string values. Here are some widely used string methods with examples.

Syntax

---
          myString.method()

Examples

---

In [ ]:
# Upper case method: upper() - returns an upper case string

myFirstString = "Hello, World!"
print(myFirstString.upper())

In [ ]:
# Lower case method: lower() - returns a lower case string

myFirstString = "Hello, World!"
print(myFirstString.lower())

In [ ]:
# Strip method: strip() - removes whitespace before and after the actual text

myFirstString = " Hello, World ! "
print(myFirstString.strip())

In [ ]:
# Replace method: replace() - replaces a string with another string

myFirstString = "Hello, World!"
print(myFirstString.replace("Hello", "Good morning"))

In [ ]:
# Split method: split() - returns a list with the specified separator

myFirstString = "Good morning, World!"

print(myFirstString.split())

In [ ]:
# Split and replace methods together: split() and replace()

myFirstString = "Good morning, World!"

myFirstString = myFirstString.replace(',','')

print(myFirstString.strip())

String operations
---

Description

---
Some basic operations can be performed on strings. These operations include concatenation (+), repetition (*), indexing ([]), slicing ([:]), and checking membership (in). These operations allow you to combine, repeat, access, and manipulate parts of a string efficiently in Python.

Syntax

---
          See examples below.

Examples

---

In [ ]:
# Strings are immutable

myFirstString = "Hello, World!"
myFirstString[0] = "G"

In [ ]:
# String concatenation

myFirstString  = "Hello"
mySecondString = "World!"

print (myFirstString + mySecondString)

In [ ]:
# String concatenation

myFirstString  = "Hello"
mySecondString = "World"

print (myFirstString, mySecondString, sep=", ", end = "!")

In [ ]:
# String multiplication

myStarString  = "*"
mySmileString = ")"

print (myStarString * 2)
print (myStarString * 4)
print (myStarString * 6 + " " + mySmileString)

In [ ]:
# String indexing

myTestString="Lorem ipsum dolor sit amet"

print(myTestString[4])
print(myTestString[5])
print(myTestString[6])
print(myTestString[18])
print(myTestString[-1])

In [ ]:
# String slicing

myTestString="Lorem ipsum dolor sit amet"

print(myTestString[:4])
print(myTestString[0:5])
print(myTestString[0:6])
print(myTestString[0:18])

In [ ]:
# String membership

myTestString="Lorem ipsum dolor sit amet"

print("Lorem" in myTestString)
print("lorem" in myTestString)

# Section 2: Operators

2.1 Arithmetic operators

2.2 Comparison operators

2.3 Logical operators

2.4 Bitwise operators

2.5 Identity operators

2.6 Membership operators

2.7 Operator precedence

2.1 Arithmetic operators
---

Description

---
Arithmetic operators in Python are used to perform basic mathematical operations. The primary operators include addition (+), subtraction (-), multiplication ( * ), exponentiation ( ** ), division (/), modulus (%), and floor division (//). Please keep in mind that division operator (/) always returns a float. Modulus operator (%) returns the remainder of a division. Floor division (//) returns the largest integer less than or equal to the result. These operators work with integers, floats, and even with complex numbers.

Syntax

---
* Addition:	                x   +   y
* Subtraction:	            x   -   y
*	Multiplication:	          x   *   y
* Exponentiation:	          x   **  y
* Division:	                x   /   y
* Modulus:	                x   %   y
* Floor division:	          x   //  y

Examples

---

In [ ]:
# Exponentiation operator: **

myFirstVariable  = 2
mySecondVariable = 8

myExponentResult = myFirstVariable ** mySecondVariable

print(myExponentResult)

In [ ]:
# Division operator: /     (will always result in float type)

myFirstVariable  = 8
mySecondVariable = 2

myDivisionResult = myFirstVariable / mySecondVariable

print(myDivisionResult)

In [ ]:
# Floor division operator: //       quotient = (dividend // divisor)
#                          quotient = (   10    //    3   )

myFirstVariable  =  10
mySecondVariable =   3

myFloorResult = myFirstVariable // mySecondVariable

print(myFloorResult)

In [ ]:
# Floor division operator: //       quotient = -ceil(-dividend / divisor)
#                          quotient = -ceil(-( -10  ) /    3   )
#                          quotient = -ceil(          4        )

myFirstVariable  = -10
mySecondVariable =   3

myFloorResult = myFirstVariable // mySecondVariable

print(myFloorResult)

In [ ]:
# Floor division operator: //       quotient =  (dividend // divisor)
#                          quotient =  (  10     //   -3   )
#                          quotient =  (         -4        )

myFirstVariable  =  10
mySecondVariable =  -3

myFloorResult = myFirstVariable // mySecondVariable

print(myFloorResult)

In [ ]:
# Modulus operator: %  reminder = dividend - (divisor * quotient)
#                      reminder =    8     - (   2    *    4    )
#                      reminder =    0

myFirstVariable  = 8
mySecondVariable = 2

myModulusResult = myFirstVariable % mySecondVariable

print(myModulusResult)

In [ ]:
# Modulus operator: %  reminder = dividend - (divisor * (dividend // divisor))
#                      reminder =   -10    - (   3    * (   -10   //   3    ))
#                      reminder =   -10    - (   3    * (         -4        ))
#                      reminder =     2

myFirstVariable  = -10
mySecondVariable =   3

myModulusResult = myFirstVariable % mySecondVariable

print(myModulusResult)

In [ ]:
# Modulus operator: %  reminder = dividend - (divisor * (dividend // divisor))
#                      reminder =   -10    - (  -3    * (   -10   //   -3   ))
#                      reminder =   -10    - (  -3    * (          3        ))
#                      reminder =    -1

myFirstVariable  = -10
mySecondVariable =  -3

myModulusResult = myFirstVariable % mySecondVariable

print(myModulusResult)

In [ ]:
# You can add, subtract, multiply, and divide complex numbers
# z1 = a + bj
# z2 = c + dj
#
# z1 + z2 =  (a + c) + (b + d)j
# z1 - z2 =  (a - c) + (b - d)j
# z1 * z2 =  (a*c - b*d) + (a*d + b*c)j
# z1 / z2 = [(a*c + b*d) / (c*c + d*d)] + [(b*c - a*d)/(c*c + d*d)]j

z1 = 3 + 4j
z2 = 1 + 5j

print("Addition :", z1 + z2 )
print("Subtract :", z1 - z2 )
print("Multiply :", z1 * z2 )
print("Divide :"  , z1 / z2 )

Assignment operators
---

Description

---
Assignment operators are used to assign values to variables. Mathematical operations can be performed while assining. The basic assignment operator is  (=), which assignes the value on the right to the variable on the left. Python language also supports compound assignment operators that combine assignment with arithmetic or bitwise operations. These shorthand assignemnt operators include add and assign (+=) operator, subtruct and assign (-=) operator, multiply and assign ( *=) operator, divide and assign (/=) operator, floor divide and assign (//=) operator, modulus and assign (%=) operator, exponentiate and assign ( * *=) operator, and assignment expression (:=)operator.

Syntax

---
* Assignment:	                x   =  y
* Add and assign:	            x  +=  y
*	Subtract and assign:	      x  -=  y
* Multiply and assign:	      x  *=  y
* Divide and assign:	        x  /=  y
* Floor divide and assign:	  x //=  y
* Modulus and assign:	        x  %=  y   
* Exponentiate and assign:    x **=  y

Examples

---

In [ ]:
# Assignment operator: =

myFirstVariable  = 5

myTestVariable = myFirstVariable

print(myTestVariable)

In [ ]:
# Assignment operator: +=

myFirstVariable = 5

myFirstVariable += 30          # myFirstVariable = myFirstVariable + 30

print(myFirstVariable)

In [ ]:
# Assignment operator: *=

myFirstVariable = 3

myFirstVariable *= 30          # myFirstVariable = myFirstVariable * 30

print(myFirstVariable)

In [ ]:
# Assignment operator: /=

myFirstVariable = 6

myFirstVariable /= 4.0         # myFirstVariable = myFirstVariable / 4.0

print(myFirstVariable)

In [ ]:
# Assignment operator: //=  (divident //= divisor = quotient returns a quotient)

myFirstVariable = 13

myFirstVariable //= 4          # myFirstVariable = myFirstVariable // 4

print(myFirstVariable)

In [ ]:
# Assignment operator:  %=  (divident %= divisor = quotient returns a remainder)

myFirstVariable = 6

myFirstVariable %= 4          # myFirstVariable = myFirstVariable % 4

print(myFirstVariable)

In [ ]:
# Assignment operator: **=

myFirstVariable = 2

myFirstVariable **= 8          # myFirstVariable = myFirstVariable ** 4

print(myFirstVariable)

Note

---
Assignment syntax operator ( := ) reminds a walrus with tusks - the Walrus operator. It is very useful for *if*, *while* conditional statements, *list comprehensions*, for *filtering* and *mapping* will be discussed below. You can assign a value to a variable and use that value within an expression. The walrus operator (:=) was introduced in Python 3.8 and allows assignemnt and return of a value in a single expression. Please, see Section 4, Control flow.

Syntax

---
        myVariable := expression

Examples

---

In [ ]:
# Usual way

myVariable = input("Enter your name: ")
print(f"Hello, {myVariable}")

In [ ]:
# Using Walrus operator

if (myVariable := input("Enter your name: ")) != "":
  print(f"Hello, {myVariable}")

2.2 Comparison operators
---

Description

---
Comparison operators are used to compare two values and return a Boolean result: either True or False. The operators include equal to (==), not equal to (!=), greater than (>), less than (<), greater or equal to (>=), less than or equal to (<=). They are commonly used in conditional statements such as if, while, and logical expressions to control the data flow of a program. Comparison operators work with numbers, strings, and other data types, they help evaluate relationships between values or expressions.

Syntax

---
* Equal:	x == y
* Not equal:	x != y
* Greater than:	x > y
* Less than:	x < y
* Greater than or equal to:	x >= y
* Less than or equal to:	x <= y

Examples:

---

In [ ]:
# Equal operator: ==

myFirstVariable  = 10.0
mySecondVariable = 10.0

print(myFirstVariable == mySecondVariable)

In [ ]:
# Not equal operator: !=

myFirstVariable  = 10.0
mySecondVariable =  9.0

print(myFirstVariable != mySecondVariable)

In [ ]:
# Greater than operator: >

myFirstVariable  = 10.0
mySecondVariable =  9.0

print(myFirstVariable > mySecondVariable)

In [ ]:
# Less than operator: <

myFirstVariable  = 10.0
mySecondVariable =  9.0

print(mySecondVariable < myFirstVariable)

In [ ]:
# Greater than or equal to operator: >=

myFirstVariable  = 10.0
mySecondVariable = 10.0

print(mySecondVariable >= myFirstVariable)

In [ ]:
# Less than or equal to operator: <=

myFirstVariable  = 10.0
mySecondVariable = 10.0

print(mySecondVariable <= myFirstVariable)

In [ ]:
# String comparison -> ASCII Table: A = 65, B = 66, C = 67, D = 68, a = 97, b = 98, c = 99, d =100

myFirstVariable  = "A"
mySecondVariable = "A"

print(myFirstVariable == mySecondVariable)

In [ ]:
# String comparison -> ASCII Table: A = 65, B = 66, C = 67, D = 68, a = 97, b = 98, c = 99, d =100

myFirstVariable  = "ABCDa"
mySecondVariable = "ABCDb"

print(myFirstVariable == mySecondVariable)
print(myFirstVariable >  mySecondVariable)
print(myFirstVariable <  mySecondVariable)

In [ ]:
# Complex numbers can not be compared using comparison operators

myFirstComplex  = 3 + 5j
mySecondComplex = 3 + 5j

print(myFirstVariable == mySecondVariable)

2.3 Logical operators
---

Description

---
Logical operators are used to perform Boolean algebra and combine multiple conditional expressions. These operators return a Boolean result, True or False, based on the logical relationship between the expressions they are evaluating. The three main logical operators are AND (&), OR (|), and NOT (!). The and operator returns True only if both conditions are True. The OR operator returns True if atleast one condition is True. The NOT operator inverts the result of a condition that returns True if the condition is False. These operators are often used in conditional statements to build more complex decision making logic.

Note

---
The or operator uses the so called short-circuit evaluation. If the first condition is True, Python does not evaluate the second condition. It immediately returns True because it meets the requirement it needs for an or expression.

Syntax

---
           condition1 AND condition2

           condition1 OR  condition2

           NOT condition

Examples

---

In [ ]:
# Logical operator: and

myFirstVariable  = 10.0
mySecondVariable = 10.0
myThirdVariable  = 20.0

print(myFirstVariable < myThirdVariable and myFirstVariable == mySecondVariable)

In [ ]:
# Logical operator: or

myFirstVariable  = 10.0
mySecondVariable = 10.0
myThirdVariable  = 20.0

print(myFirstVariable > myThirdVariable or myFirstVariable == mySecondVariable)

In [ ]:
# Logical operator: not

myFirstVariable  = 10.0
mySecondVariable = 20.0

print(not myFirstVariable > mySecondVariable)

2.4 Bitwise operators
---

Description

---
You can use bitwise operators to perform Boolean logic on individual bits. It is very similar to using logical operators such as *and* (&), *or* (|), *xor* (^), and *not* (~). You can evaluate Boolean expressions with bitwise operators instead of logical operators. Bitwise operators work at the binary level and are commonly used in low-level programming, such as working with flags, masks, or hardware interfaces. Both a and b should be integers.

Syntax

---

* AND: a & b
* OR:  a | b
* XOR: a ^ b
* NOT: ~a
* Left shift: a << n
* Right shift: a >> n

Examples

---

In [ ]:
# Bitwise operator: AND (&) - logical conjuction
# 6 = 00000110
# 3 = 00000011
#----------------------
# 2 = 00000010

print(6&3)

In [ ]:
# Bitwise operator: OR (|) - logical conjuction
# 6 = 00000110
# 3 = 00000011
#----------------------
# 7 = 00000111

print(6|3)

In [ ]:
# Bitwise operator: NOT (~) - logical negation
#  3 = 00000011
#--------------------------
# -4 = 11111100

print(~3)

In [ ]:
# Bitwise operator: XOR (^) - exclusive OR
# 6 = 00000110
# 3 = 00000011
#--------------------------
# 5 = 00000101

print(6^3)

In [ ]:
# Bitwise operator: << - inserts zeroes to the right side
# 3  = 00000011
#-------------------------
# 12 = 00001100

print(3<<2)

In [ ]:
# Bitwise operator: >> - inserts zeroes to the left side
# 8 = 00001000
#------------------------
# 2 = 00000010

print(8>>2)

Note

---
When you have a number greater than 255, you will need more than 1 byte, max value 255 (in decimal), anything larger than 255 requires more bytes. Each byte can hold value from 0-255.  If you have a large number you can represent it with more than 1 byte. 0-255 - one byte, 256-65535 2 bytes, 65536-16777215 3 bytes etc. 500 -> needs two bytes: 0000000111110100 (9 bits).

Assignment operators
---

Description

---
Bitwise assignment operators combine bitwise operations with assignment, allowing you to modify a variable by applying a bitwise operation directly to it. These operators include bitwise AND and assignment (&=), bitwise OR and assignment (|=), bitwise XOR and assignment (^=), right shift and assignment (>>=), and left shift and assignment (<<=). These operators typically used in low-lewel programming tasks such as working with binary data, flags, or hardware interfaces, where direct manipulatin of bits required.

Syntax

---
* Bitwise AND and assignment: a &= b
* Bitwise OR and assignment:  a |= b
* Bitwise XOR and assignment: a ^= b
* Bitwise right shift and assignment: a >>= b
* Bitwise left shift and assignment:  a <<= b

Examples:

---

In [ ]:
# Assignment operator: &=

myFirstBit = 6

myFirstBit &= 3
print(myFirstBit)          # myFirstBit = myFirstBit & 3

In [ ]:
# Assignment operator: |=

myFirstBit = 6

myFirstBit |= 3
print(myFirstBit)          # myFirstBit = myFirstBit | 3

In [ ]:
# Assignment operator: ^=

myFirstBit = 6

myFirstBit ^= 3
print(myFirstBit)          # myFirstBit = myFirstBit ^ 3

In [ ]:
# Assignment operator: <<=

myFirstBit = 3

myFirstBit <<= 2
print(myFirstBit)          # myFirstBit = myFirstBit << 2

In [ ]:
# Assignment operator: >>=

myFirstBit = 8

myFirstBit >>= 2
print(myFirstBit)          # myFirstBit = myFirstBit >> 2

2.5 Identity operators
---

Description

---
Identity operators are used to compare the memory location or identity of two objects. Unlike comparison operators, the identity operators check whether two objects are the same object in memory. There are two identity operators, *is* and *is not*. The *is* operator returns True if two variables point to the same object in memory. The *is not* operator returns True if variables point to different objects. It is important to note that if two variables have equal values, they may not necessarily be the same object. The identity operators should be used when you care about object identity and not just equality.

Syntax

---
          x is y
          x is not y

Examples:

---

In [ ]:
# Identity operator: is

myFirstVariable  = "Hello World!"
mySecondVariable = "Hello World!"

myThirdVariable  =  myFirstVariable

print(myFirstVariable is mySecondVariable)
print(myFirstVariable is myThirdVariable )

print("Printing memory addresses :", id(myFirstVariable), id(mySecondVariable))
print("Printing memory addresses :", id(myFirstVariable), id(myThirdVariable) )

In [ ]:
# Identity operator: is not

myFirstVariable  = "Hello World!"
mySecondVariable = "Hello World!"

myThirdVariable  =  myFirstVariable

print(myFirstVariable is not mySecondVariable)
print(myFirstVariable is not myThirdVariable )

print("Printing memory addresses :", id(myFirstVariable), id(mySecondVariable))
print("Printing memory addresses :", id(myFirstVariable), id(myThirdVariable) )

2.6 Membership operators
---

Description

---
Membership operators are used to test whether a value is a member of a sequence. These operators are very useful when you want to check if a certain element exists inside a collection, such as a list, string, or set. There are two membership operators, *in* and *not in*. The *in* operator returns True if the specified value is found in the sequence. The *not in* returns True if the value is not found in the sequence. These operators are commonly used in conditions to check for the presence or absence of elements in the sequence, making code more readable and concise.

Syntax

---
          value in sequence

          value not in sequence

Examples

---

In [ ]:
# Membership operator: in  - returns True if a specified element (sequence) exists

myTestString = "Hello World!"
print("World" in myTestString)

In [ ]:
# Membership operator: not in - returns True if a specified element does not exist

myTestString = "Hello World"
print("A" not in myTestString)

2.7 Operator precedence
---

Description

---

Operator precedence determines the order in which operators are evaluated in complex expressions. Operators with higher precedence are evaluated first  before those with lower precedence, unless parenthesis are used. Exponentiation, unary, Arithmetic operators have higher precedence than logical and comparison operators. Understanding operator precedence is important to avoid unexpected results and to write clear, predictable expressions.

Syntax

---
* Parentheses: ()
* Exponentiation: **
* Unary: +x,  -x,  ~x
* Arithmetic: *,  /, %, //, +, -
* Bitwise: <<=, >>=, AND, ^, |
* Comparison: ==,  !=,  >,  >=,  <,  <=  
* Identity: is,  is not  
* Membership: in, in not
* Logical: not, and, or

Note

---
Python is an object-oriented language and, therefore, objects are an important part of Python programming. In fact, everything in Python with an object contains default data and some functionality. To build an object, you need to use a constructor function. A constructor is a special function that is used to make an instance of a class. A class is like a blueprint to create an object. You can then use that object (instance) of a class to assign some data and functionality.

---

In [ ]:
class Pencil():

    # Constructor
    def __init__(self, diameter, length, color):

        self.diameter = diameter
        self.length   = length
        self.color    = color

# Section 3: Data Collections

3.1 List

3.2 Tuple

3.3 Dictionary

3.4 Set

3.5 Summary of data collections

3.1 List
---

Description

---
A list is used to store several items in a single variable. A list is a built-in type in Python. Lists can store more than one item at the same time. These lists are ordered and mutable, meaning their contents can be changed after creations. Lists are commonly used for storing collections of related data, and their elements can be accessed by index, starting from 0. Python provides many built-in methods to modify and manipulate lists. New items can be inserted into the list or deleted from the list. It is a member of a data type called sequences. Various operations can be performed on the list including slicing, multiplication, addition, etc.

Syntax

---
          myList = [element 1, element 2, ..., element n]

          myList = [element 1]

          myList = list()

List declaration
---

Description

---
A list is declared by placing a sequience of elements inside square brakets and separated by commas. List can contain elements of any data types, including numbers, strings, or even other lists.

Examples

---

In [ ]:
# Creating an empty list

myEmptyList = []

print("My empty list :", myEmptyList)
print(type(myEmptyList))

In [ ]:
# Creating an empty list using the constructor: list()

myEmptyList = list()

print("My empty list :", myEmptyList)
print(type(myEmptyList))

In [ ]:
# Creating a list of strings

myFishList = ["Red Snapper", "Carp", "Bass"]

print(myFishList)

In [ ]:
# Creating a list of integers

myNumberList = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(myNumberList)

In [ ]:
# Creating a list with various data types

myMixedList  = [10, 11.0, 123, "Python", "A", -234.5, True, False, 1.23E-24]
myNumberList = [1, 2, 3, 4, 5]

print(myMixedList, myNumberList, sep=" ; ")

In [ ]:
# Creating a list with the list() constructor

myFishList = list(("Carp", "Brass", "Red Snapper"))  # use round brackets

print(myFishList)
print(type(myFishList))

In [ ]:
# List constructor: list() - returns a copy of the list

myFishList = ["Carp", "Brass", "Salmon", "Red Snapper"]

myNewList  =  list(myFishList)

print(myNewList)
print(myNewList is myFishList)

In [ ]:
# List function: len() - getting length of the list

myFishList = ["Carp", "Brass", "Salmon", "Red Snapper"]

print(len(myFishList))

List indexing
---

Description

---
Each element of the list has a unique index number as shown below. To access any element of the list, we need to use that element's index number. The indexing of a list is the same as for strings. A list is a container for many items, with these items indexed starting with the first item being "0".

Syntax

---
          myList[index]

Examples

---

In [ ]:
# The indexes
# myFirstList   =   [1,  2,  3,  4,  5, ..., n]
# --------------------------
# index              0,  1,  2,  3,  4, ..., n-1
# negative index    -n,                 ...,  -1

myFirstList = ["Red Snapper", "Carp", "Bass"]

print(myFirstList[0])
print(myFirstList[1])
print(myFirstList[2])

List slicing
---

Description

---
List slicing allows you to extract a portion of a list by specifying a range of indices using the colon (:) operator within square brackets. The slicing will return a new list containing elements from the start index up to, but not including the stop index. You can also include an optional step value to skip elements. List slicing is a powerful way to access and manipulate sublists without modifing the original list.

You can have a nested list, which is a list that containes other lists as elements. This allows you to represent more complex data structures like, nmatricies, tables, or multi-dimensional arrays. Nested lists are useful for organizing related data in a structured way.

Syntax

---
          myList[start index: end index: step]

Example

---

In [ ]:
# The indexes
# myFirstList   =   [1,  2,  3,  4,  5]
# --------------------------
# index              0,  1,  2,  3,  4
# negative index    -5, -4, -3, -2, -1

myFirstList = [1, 2, 3, 4, 5]

print(myFirstList)
print(myFirstList[:])
print(myFirstList[1:])
print(myFirstList[0:3])
print(myFirstList[3:4])
print(myFirstList[3:5])
print(myFirstList[-4:])
print(myFirstList[-4:-1])
print(myFirstList[-5])

In [ ]:
# Multi-dimensional (nested) lists

myNestedList = [1, 2, 3, [10, 20, 30], 'String']

print(myNestedList)
print(type(myNestedList))
print(len(myNestedList))

In [ ]:
# Accessing a nested list some values

myNestedList = [ 1, 2, 3, [10, 20, 30], 'String']
print(myNestedList[3][1])
print(len(myNestedList[3]))

In [ ]:
# Using the sorted() function, Syntax: sorted(iterable, key = ..., reverse = ...)

myNestedList = [ 1.2, -0.2, 3.0, 0.6]
print(sorted(myNestedList))

In [ ]:
# Check if an item is in the list

mySecondList = ["Carp", "Brass", "Fly"]

print("Fly" in mySecondList)

In [ ]:
# Change the values in the list

mySecondList = ["Carp", "Brass", "Fly", "Spider"]

mySecondList[2:3] = ["Red Snapper", "Shark"]

print(mySecondList)

In [ ]:
# Using the sorted() function, Syntax: sorted(iterable, key = ..., reverse = ...)

myNestedList = [ "Lorem", "ipsum", "do", "sit", "amet", "consectetur", "elit"]

print(sorted(myNestedList, key=len))

In [ ]:
# Using the sorted() function with the lambda function, ord(), and max() functions

mySrtList = [ "Lorem", "ipsum", "do", "sit", "amet", "consectetur", "elit"]

print(sorted(mySrtList, key = lambda Chr: ord(max(Chr))))

List methods
---

Description

---
There are a lot of built-in list methods that allow us to manipulate and interact with lists. Some commonly used methods are insert(), append(), extend (), remove(), pop(), clear(), sort(), and copy(). These methods make it easy to modify and manage list elements without writing complex code.

Syntax

---
          myList.method()

Examples

---

In [ ]:
# Insert method: insert() - inserts an element to the list

myFishingSet = ["Carp", "Brass", "Fly", "Spider"]

myFishingSet.insert(2, "Spinning")
myFishingSet.insert(3, "Casting")

print(myFishingSet)

In [ ]:
# Append method: append() - appends an element to the list

myFishList = ["Carp"]

myFishList.append("Brass")
myFishList.append("Red Snapper")
myFishList.append("Shark")

print(myFishList)

In [ ]:
# Extend method: extend() - add an element to the end of a list

myFishList = ["Carp", "Brass", "Red Snapper"]
myLureList = ["Fly", "Spider", "Worm"]

myFishList.extend(myLureList)

print(myFishList)

In [ ]:
# Remove method: remove() - removes an element from the list

myFishList = ["Carp", "Brass", "Red Snapper"]

myFishList.remove("Carp")

print(myFishList)

In [ ]:
# Pop method: pop() - removes an element at a specified index, if you do not specify, removes the last element

myFishList = ["Carp", "Brass", "Red Snapper"]

myFishList.pop(1)

print(myFishList)

myFishList.pop()

print(myFishList)

In [ ]:
# Clear method: clear() - removes all the elements from a list

myLureList = ["Fly", "Spider", "Worm"]

myLureList.clear()

print(myLureList)

In [ ]:
# Sort method: sort() - sorts all the elements of a list (case sensitive)

myFishList = ["Carp", "Brass", "Red Snapper", "Shark", "Arowana", "Catfish"]

myFishList.sort()

print(myFishList)

In [ ]:
# Sort method: sort() - sorts all the elements of a list (case sensitive)

myFishList = ["Carp", "Brass", "Red Snapper", "Shark", "Arowana", "Catfish"]

myFishList.sort(reverse = True)

print(myFishList)

In [ ]:
# Sort method: sort() - sorts all the elements of a list (case sensitive)

myFishList = ["Carp", "brass", "Red Snapper", "shark", "Arowana", "catfish"]

myFishList.sort()

print(myFishList)

In [ ]:
# Sort method: sort() - sorts all the elements of a list (case insensitive)

myFishList = ["Carp", "Brass", "red Snapper", "shark", "Arowana", "catfish"]

myFishList.sort(key=str.lower) # sort(key = ..., reverse = ...)

print(myFishList)

['Arowana', 'Brass', 'Carp', 'catfish', 'red Snapper', 'shark']

In [ ]:
# Copy method: copy() - returns a copy of the list

myFishList = ["Carp", "Brass", "Salmon", "Red Snapper"]

myNewList  =  myFishList.copy()

print(myNewList)

myFishList[0] = "Pike"

print(myNewList)

In [ ]:
# Assigning to the same memory address of list

myFishList = ["Carp", "Brass", "Salmon", "Red Snapper"]

myNewList  =  myFishList

print(myNewList)

myFishList[0] = "Pike"

print(myNewList)

List operations
---

Description

---
Basic list operations can be performed that include common tasks that allow us to operate with lists effectively. These operations include concatanation operation, repetition, lenth, iteration, and membership testing. these operations form foundation for working with lists and are widely used in day-to-day Python programming. To delete an entire list we can use the built-in *del* statement. This removes the list object from memory, making it no longer accessible in the program.

Syntax

---
          See examples below

Examples

---

In [ ]:
# Join two lists to create a new list

myFishList   = ["Carp", "Brass", "Salmon", "Red Snapper"]
myInsectList = ["Fly", "Beetle", "Ant", "Dragonfly"]

myFishingSet = myFishList + myInsectList

print(myFishingSet)

In [ ]:
# Multiply one list twice

myFishList   = ["Carp", "Brass", "Salmon", "Red Snapper"]

myFishingSet = myFishList * 2

print(myFishingSet)

In [ ]:
# Find the length of myList

myList = ["Carp", "Brass", "Salmon", "Red Snapper"]

print(len(myList))

In [ ]:
# Iteration in myList
for item in myList:
    print(item)

In [ ]:
# Value in myList
'Carp' in myList

In [ ]:
# Delete an entire list

myFishList = ["Carp", "Brass", "Red Snapper"]

del myFishList

3.2 Tuple
---

Description

---
Tuples are used to store multiple values to a single variable. Once a tuple is created, it can not be changed, it is immutable. Tuples are ordered as they are defined and that order will not be changed. You can have duplicates. A tuple is enclosed in parentheses. It is also indexed like strings and lists, starting with index 0. Slicing is also applicable to Tuples to access a range of elements like strings. Tuples can store elements of different data types and often used to group related data that should not be modified. Their immutability also makes them memory efficient and safe for use as dicionary keys.

Syntax

---
          myTuple = (element 1, element 2, ..., element n)

          myTuple = (element 1,)

          myTuple = element 1, element 2, ..., element n

          myTuple = tuple(iterable)

Tuple declaration
---

Description

---
A tuple can be declared by placing a sequence of values inside parentheses () separated by coma. You can declare or create a tuple using various ways. If you need a tuple with one element you have to place a comma separator right after the element. You can also use a constructor to create a tuple. You can delete tuple using *del* function.

Examples

---

In [ ]:
# Creating an empty tuple using parentheses

myEmptyTuple = ()

print("My empty tuple :", myEmptyTuple)
print(type(myEmptyTuple))

In [ ]:
# Creating an empty tuple using the constructor

myEmptyTuple = tuple()

print("My empty tuple :", myEmptyTuple)
print(type(myEmptyTuple))

In [ ]:
# Creating a tuple with one element

myTuple = ( 1, )

print(type(myTuple))

In [ ]:
# Creating a tuple from a list

myTuple = tuple([1, 2, 3, 4, 5])

print(type(myTuple))

In [ ]:
# Creating a tuple with many elements and duplicates

myTuple = 1, 2, 3, 3

print(type(myTuple))
print(myTuple)

In [ ]:
# Creating a tuple with a single string value
myTuple = tuple("abc")
print(myTuple)

In [ ]:
# Creating tuple of multiple string values

myFirstTuple = ("Carp", "Anaconda", "Shark") # packing
print(myFirstTuple)

In [ ]:
# Unpacking tuple

myFirstTuple = ("Carp", "Anaconda", "Shark") # packing

(myFirstElement, mySecondElement, myThirdElement) = myFirstTuple  # unpacking

print(myFirstElement)
print(mySecondElement)
print(myThirdElement)

In [ ]:
# Creating a tuple with one item

myOneItemTuple = ("Anaconda",)
print(type(myOneItemTuple))

#THE FOLLOWING IS NOT A TUPLE, THIS IS A STRING

myNotTuple = ("Anaconda")
print(type(myNotTuple))

In [ ]:
# Create a tuple using range function

myRangeTuple = tuple(range(1, 10))

print(myRangeTuple)

In [ ]:
# Tuple constructor: tuple() - constructor returns a copy of the tuple

mySecondTuple = tuple(("Wolf", "Rabbit"))

print(mySecondTuple)

In [ ]:
# Deleting a tuple using del function

mySecondTuple = tuple(("Wolf", "Rabbit"))

del mySecondTuple

Tuple indexing
---

Description

---
Tuple indexing allows one to access individual elements using their positions starting from 0 for the first element. A tuple is also indexed as strings and lists. You can use square brackets [] with the index number to obtain the value. Since the tuples are immutable, you can access their elements by indexing, but you can not change the elements once they are assigned. Indexing is a fundamental way to work with tuples, specifically when you reference their values.

Syntax

---
          myTuple[index]

Examples

---

In [ ]:
# Access a tuple with the index

# myTuple       =   [1,  2,  3,  4,  5, ..., n]
# --------------------------
# index              0,  1,  2,  3,  4, ..., n-1
# negative index    -n,                 ...,  -1

myAustralianTuple = ("Kangaroo", "Quokka", "Bandicoot")

print("This nocturnal marsupial omnivor lives in Australia :", myAustralianTuple[2])

Tuple slicing
---

Description

---

Tuple slicing allows you to extract a portion of a tuple by specifiyng a range of indicies using colon (:) operator. The basic syntax returns a new tuple containing elements from the start index up to , but not including the stop index. You can also include an optional step value to skip elements. Slicing does not modify the original tuple and works the same way as for lists, makinig it convenient and powerwfull to access the elements.

Syntax

---
          myTuple[start index: end index: step]

Examples

---

In [ ]:
# Slice tuple with the index numbers

# myTuple       =   [1,  2,  3,  4,  5, ..., n]
# --------------------------
# index              0,  1,  2,  3,  4, ..., n-1
# negative index    -n,                 ...,  -1

myMixedTuple  = (10, 11.0, 123, "Python", "A", -234.5, True, False, 1.23E-24)

print(myMixedTuple[:5])
print(myMixedTuple[-3:-1])

Tuple methods
---

Description

---
Tuple methods are limited due to the immutable nature of tuples. Their content can not be changed or manipulated. There are only two built-in methods available: count() and index(). These methods are useful for obtaining information from a tuple, checking for duplicates and locating elements. All other methods wil not work. These methods, when used on tuples, will result in an error: sort(), append(), insert(), copy(), extend(), pop(), clear(), reverse(), and remove(). This is because these methods attempt to alter the tuple, but it is immutable. There are, however, some methods that can be used on tuples.

Syntax

---
          myTuple.method(value)

Examples

---

In [ ]:
# Count method: count() - returns a number of repeated elements in the Tuple

myTestTuple = (1, 2, 3, 4, 5, 5, 5, 5, 5, 5, 6)

print(myTestTuple.count(5))

In [ ]:
# Index method: index() - returns an index of the first occurence for the specified element

myTestTuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

print(myTestTuple.index(4))

In [ ]:
# Immutability: try to append(), insert(), del() methods

myTestTuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

#myTestTuple.append(10)    # AttributeError: 'tuple' object has no attribute 'append'
#myTestTuple.insert(0,10)  # AttributeError: 'tuple' object has no attribute 'insert'
#del myTestTuple[1]        # TypeError: 'tuple' object doesn't support item deletion
#myTestTuple[0] = 10       # TypeError: 'tuple' object does not support item assignment

print(len(myTestTuple))

In [ ]:
# Sorted function: sorted() - returns a sorted tuple

myTestTuple = (12, 2, 1, 4, -5, 6, -7, 8, 9)

print(sorted(myTestTuple))

Tuple operations
---

Description

---
Tuple operators can be used to perform basic operations on tuples. Common tuple operations include concatentation (+), repetition ( * ), indexing [index], membership (in, not in), and deletion (del). the *del* statement can be used to delete an entire tuple. After deletion, attempting to access the tuple will result in a Nameerror because the tuple no longer exists.

Syntax

---

      See examples below

Examples

---

In [ ]:
# Join two tuples

myFishTuple   = ("Pike", "Bass", "Carp")
myMammalTuple = ("Blue Whale", "Orca", "Dolphin")

myAnimalTuple = myFishTuple + myMammalTuple

print(myAnimalTuple)

In [ ]:
# Multiply two tuples

myFishTuple   = ("Pike", "Bass", "Carp")

myAnimalTuple = myFishTuple * 2

print(myAnimalTuple)

In [ ]:
# Tuples with membership operators

myFishTuple   = ("Pike", "Bass", "Carp")

print("Carp" in myAnimalTuple)

In [ ]:
 # Delete the entire tuple

myFishTuple   = ("Pike", "Bass", "Carp")

del myFishTuple

3.3 Dictionary
---

Description

---
A dictionary is a built-in data type used to store data in **key:value** pairs enclosed in curly braces. Each key is separated from its value by a colon (:) and pairs are separated by commas. A dictionary is an ordered mutable data collection that cannot have key duplicates. Keys must be unique and immutable (such as strings, numbers, or tuples), while values can be any data type and can be repeated. The items can be removed, changed, and added. Dictionaries are unordered before Python 3.7. It is now ordered starting from Python version 3.7, they maintain the insertion order. The values in the dictionaries are indexed by keys. They are highly efficient for looking up, adding, or updating data by key making them suitable for labeled or structured data.

Syntax

---
          myDictionary = {key 1: value, key 2: value, ..., key n: value}

          myDictionary = {key: value}

          myDictionary = dict()

Dictionary declaration
---

Description

---
Dictionary declaration involves creating a set of key-value pairs enclosed within curly braces {}. Each key is followed by a colon (:) and paired with a corresponding value. Multiple key-value pairs are separated by commas. Alternatively, dictionaries can be declared using dict() constructor. This flexible structure allows for fast lookups and eaasy updates based on keys, making dictionaries a powerful tool for managing structured data.

Examples

---

In [ ]:
# Declaring an empty dictionary

myEmptyDict = {}

print("My empty dictionary :", myEmptyDict)

In [ ]:
# Declaring an empty dictionary using a constructor

myEmptyDict = dict()

print("My empty dictionary :", myEmptyDict)

In [ ]:
# Adding a new item to the dictionary, [key] = value pair

myTestDictionary = {}

myTestDictionary["Occupation"] = "Student"
myTestDictionary["Name"]       = "Kirill"
myTestDictionary["Age"]        = 21

print(myTestDictionary)

In [ ]:
# Adding a new item to the dictionary with multiple values using one key

myTestDictionary = {}

myTestDictionary["Occupation"] = "Student"
myTestDictionary["Name"]       = "Kirill"
myTestDictionary["Age"]        = 21, 22, 23, 24, 99

print(myTestDictionary)

In [ ]:
# Declaring a dictionary with the key: multiple value elements

myFirstDictionary = {"Occupation":("Student", "Programmer"), "Name":"Kirill", "Age":(72,32,21)}

print(myFirstDictionary["Age"][1])              # getting the zero value of the "Age" key

print(list(myFirstDictionary.values())[0][1])   # getting the third value of the Age key

In [ ]:
# Dictionary constructor: dict() - returns a copy of the dictionary assigning key:value with  =

myFirstDictionary = dict(Occupation="Student", Name="Kirill", Age=25)

print(myFirstDictionary)

In [ ]:
# Dictionary constructor: dict() - returns a copy of the dictionary assigning key:value with  ,

myFirstDictionary = dict([("Occupation","Student"), ("Name","Kirill"), ("Age",25)])

print(myFirstDictionary)

In [ ]:
# Length function: len() - returns the length of a dictionary

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

print(len(myFirstDictionary))

In [ ]:
# Get the value of the key:  key:value

myFirstDictionary = dict(Name="Kirill", Age=25, Occupation="Student")

print(myFirstDictionary["Age"])

Nested dictionary
---

Description

---
Dictionaries can have a nested structure. A nested dictionary is a dictionary where one or more values are themselves dictionaries. This means you can have dictionaries as values in other dictionaries. This allows you to represent more complex, hierarchical structures. Nested dictionaries are especially useful for storing grouped data, such as records in a database or configurations with multiple levels of detail. They offer both flexibility and clarity in organizing data with multiple layers.

Syntax

---
          mydictionary = {key1:{subkey1:value1, subkey2:value2}, key2:{subkey1:value3}, ...}

Examples

---

In [ ]:
# Nested dictionary

myDictionary = {"planets":{1:"Mercury", 2:"Venus", 3:{"a":("Earth","Mars")}}, "stars":{"a":("Sun","Proxima"), "b":"Alpha"}}
#                                                    |--------------------|           |----------------------------------|
#                         |------------------------------------------------|
#              |----------------------------------------------------------------------------------------------------------|

#print(myDictionary)
#print(myDictionary["planets"])
#print(myDictionary["planets"][1])
#print(myDictionary["planets"][3]["a"][1])
#print(myDictionary["planets"][3]["a"][1][1:3])

print(myDictionary["stars"]["a"][0][0:3])
print(myDictionary["stars"]["b"][:])
#print(myDictionary["stars"]["b"][1:3])

#print(list(myDictionary.values()))
#print(list(myDictionary.values())[0][3]["a"][0])
#print(list(myDictionary.values())[1]["a"][1])
#print(list(myDictionary.values())[1]["b"])

Dictionary methods
---

Description

---
There are several built-in methods for dictionaries that allow to efficiently operate and interact with stored data. The get(key) method retrieves the value for a given key, returning None if the key does not exist. The keys() and values methods return views of all the keys and values in the dictionary. The items() method returns a view of the key-value pairs as tuples. The update() method allows you to add key-value pairs or update the existing keys with new values. The pop(key) method removes the specified key and its associated value from the dictionary, returning the value. Other useful methods include clear() to remove all items, copy() to create a shallow copy of the dictionary. These methods provide flexible and powerful ways to manage and work with dictionaries.

Syntax

---
          myDictionary.method()

Examples

---

In [ ]:
# Get method: get() - access a dictionary value using the associated keyword

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

print(myFirstDictionary.get("Age"))

In [ ]:
# Keys method: keys() - gets a list of keys

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

print(myFirstDictionary.keys())

In [ ]:
# Values method: values() - gets a list of values

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

print(myFirstDictionary.values())

In [ ]:
# Items method: items() - gets a list of key:value pairs

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

print(myFirstDictionary.items())

In [ ]:
# Update method: update() - updates the dictionary with the key:value pair

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}
myFirstDictionary.update({"Age":33})

print(myFirstDictionary)

In [ ]:
# Pop method: pop() - removes the key:value pair from the dictionary

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

myFirstDictionary.pop("Name")

print(myFirstDictionary)

Dictionary operations
---

Description

---
Dictionary operations allow you to perform various tasks, includding adding, updating, accessing, and removing key-value pairs. You can access a value by specifying its key, and update a value by assigning a new value to an existing key. The pop(key) method allows you to remove a key-value pair and return its value. Membership testing with *in* checks if a key exists iin the dictionary. The *del* statement can be used to delete the dictionary. The entire dictionary will be removed from memory, making it inaccessible.

Syntax

---
          See examples below

Examples

---

In [ ]:
# Adding a key-value pair

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

myFirstDictionary["Age"] = 33

print(myFirstDictionary)

In [ ]:
# Accessing a value by the key

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

print(myFirstDictionary["Age"])

In [ ]:
# Removing an item using pop()

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

myFirstDictionary.pop("Name")

print(myFirstDictionary)

In [ ]:
# Delete an item from the dictionary

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

del myFirstDictionary["Age"]

print(myFirstDictionary)

In [ ]:
# Delete the entire dictionary

myFirstDictionary = {"Occupation":"Student", "Name":"Kirill", "Age":25}

del myFirstDictionary

Note

---
A Python dictionary can be easily loaded from a JSON file, which is a common and widely used data format for representing strucutred data. JSON, or JavaScript Object Notation, is lightweight, human-readable file that is primarily used for data exchange between a server and a web application. Due to its simplicity and easy of use, Jason is often utilized to store and transmit data in various programming languages. In Python, the json module provides functionality to parse JSON data and convert it into a Python dictionary. Below is an example of a JSON file, student.json, which contains student-related information in JSON format that can be loaded into a Python dictionary for further processing.

The official JSON file specification can be found in the RFC 8259 (https://datatracker.ietf.org/doc/html/rfc8259 ) This document provides the formal rules and guidelines for hoe JSON data should be structured. To access json module documentation you can follow this link: https://docs.python.org/3/library/json.html

Examples

---

In [ ]:
# student.json

{
    "Name": "Mark",
    "Age": 22,
    "Occupation": "Student"
}

In [ ]:
# To load JSON file to the Python

import json

with open('student.json', 'r') as json_file:
  student = json.load(json_file)
print(student)

3.4 Set
---

Description

---
A set is an unordered collection of unique elements, meaning that it cannot contain duplicate values. Unlike lists or tuples, sets do not preserve the order of elements, making them ideal candidates for membership testing and eleminating duplicates. They support the veriety of operations, such as union, intersection, and differense, allowing for efficient methematical set operations. Sets are mutable , you can add or remove elements after creation, but their elements must be immutable(e.g., numbers, strings, or tuples). Sets are commonly used when the goal is to work with distinct items and perform operations like filtering, searching, or removing duplicates from collection of data.

Syntax

---
          mySet = {element 1, element 2, ..., element n}

          mySet = {element 1}

          mySet = set()

Set declarations
---

Description

---
A set can be declared in two ways, using curly braces and set() constructor. To create a set using curly braces, you simply list the elements separated by commas inside. Alternatively, if you use the set() constructor, you need to include a list or a tuple inside of the parenthesis. This specifically useful if you want to convert other data types into a set. A key characteristics of sets is that they automatically eliminate any duplicate values, so the result will always contain only unique elements. Sets do not maintain order, elements may appear in arbitrary order everytime you access that.

Syntax

---
          See examples below

Examples

---

In [ ]:
# Creating an empty set - no curly braces - dictionary

myEmptySet = {}

print(type(myEmptySet))

In [ ]:
# Creating an empty set using a constructor

myEmptySet = set()

print("My empty set :", myEmptySet)
print(type(myEmptySet))

In [ ]:
# Create a set with multiple string values

myFishSet = {"Carp", "Bass", "Salmon", "Red Snapper", "Pike", "Perch"}

print(myFishSet)

In [ ]:
# Create a set with multiple string values using the constructor: set()

myFishSet = set(("Carp", "Bass", "Salmon", "Red Snapper"))

print(myFishSet)

In [ ]:
# Create a set with duplicates

myFishSet = {"Carp", "Bass", "Salmon", "Red Snapper", "Bass", "Bass", "Bass"}

print(myFishSet)

In [ ]:
# Create a set with boolean types and integers

myFirstSet = {"Carp", "Bass", "Red Snapper", "Bass", True, 1, 2}

print(myFirstSet)

In [ ]:
#Sets' data types

myFishSet    =  {"Carp", "Bass", "Red Snapper", "Salmon"}
myNumberSet  =  {1, 2, 3, 4, 5, 4, 6, 3, 21}
myBooleanSet =  {True, False, False, True,False}
myMixedSet   =  {"Carp", True, 23, 40, "Bass", "Salmon"}
myComplexSet =  {2+3j,   1+7j,   3+4j}

print(myFishSet)
print(myNumberSet)
print(myBooleanSet)
print(myMixedSet)
print(myComplexSet)

Set methods
---

Description

---
Python sets offer several built-in methods that allow you to perform a variety of operations, such as adding, removing, and testing membership of elements. The add() method adds a single element to the set, while update() methods allows you to add multiple elements or elements from another iterable (like list or another set). To remove elements, you can use remove() (it will raise an error if the element is not found) or discrad(), which does not raise an error. The pop() method removes and returns an arbitrary element from the set. You can also check if a set contains an element using the in keyword. Other methods include clear(), removing all elements from the set, copy() creating a shallow copy of the set. Set operations such as union(), intersection(), and difference() allow you to perform mathematical set operations, combining sets or finding common or unique elements. These methods make sets a flexible and powerful tool for managing collections of unique items.

The union() operation combines two sets, returning a new set with all unique elements from both. The intersection() operation returns a set containing only the elements that are common to both sets. The difference() operation gives a set of elements that are in the first set but not in the second. The symmetric difference() returns a set of elements that are in either of the sets, but not in both. These operations make sets particulary useful for tasks that involve comparing, merging, or filtering collections of unique elements.

Note

---
Python sets are conceptually similar to mathematical sets in many ways. Just like mathematical sets, Python sets are collections of unique elements with no particular order. You can perform the same fundamental operations on Python sets as you would with mathematical sets.

![image.png]()

Syntax

---
          mySet.method()

Examples

---

In [ ]:
# Add method: add() - adding items to a set

myFishSet = {"Carp", "Bass", "Red Snapper"}
myFishSet.add("Salmon")
print(myFishSet)

In [ ]:
# Update method: update() - updating a set with another set

myFirstSet  = {"Carp", "Bass"}
mySecondSet = {"Red Snapper", "Salmon"}

myFirstSet.update(mySecondSet)

print(myFirstSet)

In [ ]:
# Update method: update() - updating a set with a list

myFirstSet   = {"Carp", "Bass"}
mySecondList = ["Red Snapper", "Salmon"]

myFirstSet.update(mySecondList)

print(myFirstSet)

In [ ]:
# Remove method: remove() - removes specified element(s) of a set

myFirstSet = {"Carp", "Bass", "Red Snapper", "Salmon"}

myFirstSet.remove("Carp")

print(myFirstSet)

In [ ]:
# Discard method: discard() - discards specified element(s) of a set

myFirstSet = {"Carp", "Bass", "Red Snapper", "Salmon"}

myFirstSet.discard("Red Snapper")

print(myFirstSet)

In [ ]:
# Pop method: pop() - removes an element of a string, you do not know which item gets removed

myFirstSet = {"Carp", "Bass", "Red Snapper", "Salmon"}

myFirstSet.pop()

print(myFirstSet)

In [ ]:
# Clear method: clear() - makes a set empty

myFirstSet  =  {"Carp", "Bass", "Red Snapper", "Salmon"}

myFirstSet.clear()

print(myFirstSet)

In [ ]:
# Intersection method: intersection() - keeps only duplicate elements

myFirstSet   =  {"Carp", "Red Snapper"}
mySecondSet  =  {"Carp", "Bass", "Red Snapper", "Salmon"}

myThirdSet   =  myFirstSet.intersection(mySecondSet)

print(myThirdSet)

In [ ]:
# Intersection update method: intersection_update() - keeps only duplicate elements

myFirstSet  = {"Carp", "Bass", "Red Snapper", "Salmon"}
mySecondSet = {"Carp", "Bass", "Red Snapper", "Salmon"}

myFirstSet.intersection_update(mySecondSet)

print(myFirstSet)

In [ ]:
# Symmetric difference update method: symmetric_difference_update()

myFirstSet  = {"Carp", "Bass", "Red Snapper", "Salmon"}
mySecondSet = {"Red Snapper", "Salmon"}

myFirstSet.symmetric_difference_update(mySecondSet)

print(myFirstSet)

In [ ]:
# Symmetric difference method: symmetric_difference() - duplicates are excluded

myFirstSet  = {"Bass", "Red Snapper", "Salmon"}
mySecondSet = {"Carp", "Red Snapper", "Salmon"}

myThirdSet  = myFirstSet.symmetric_difference(mySecondSet)

print(myThirdSet)

In [ ]:
# Union method: union() - joints two sets while excluding duplicates

myFirstSet  =  {"Red Snapper", "Salmon"}
mySecondSet =  {"Carp", "Bass"}

myThirdSet  = myFirstSet.union(mySecondSet)

print(myThirdSet)

Set operations
---

Description

---
A set of basic built-in operations that can be used with sets, similar to what we used with other collections like lists or strings. Python supports a few basic operations that are common to many built-in data types. The *len()* function can be used to get the number of elements in the set. The *in* membership operator can be used to check membership. You can also use the del statement to delete the entire set, keep in mind that you can not delete individual items using [index] since the set is unodered. Python do not support indexing [index], slicing [start:end:step], concatenation (+), or repetition ( *) operations.Attempting to concatenate or multiply sets will result in a TypeError. These restrictions reinforce mathematical nature of sets, which focuse on uniqueness and unordered elements, rather than sequence and repetition.

Syntax

---
          See examples below

Examples

---

In [ ]:
# Obtaining the length of the set

mySecondSet = {"Carp", "Bass", "Red Snapper", "Salmon", "Bass"}
print(len(mySecondSet))

In [ ]:
# Checking the membership using in operator

mySecondSet = {"Carp", "Bass", "Red Snapper", "Salmon", "Bass"}
print("Carp" in mySecondSet)

In [ ]:
# Deleting the entire set

myFishSet  =  {"Carp", "Bass", "Red Snapper", "Salmon"}

del myFishSet

3.5 Summary of data collections
---

  
    String          List        Tuple      Dictionary / Set

    immutable     mutable      immutable        mutable
    order/index order/index  order/indexed     unordered
    duplicates    duplicates   duplicates     noduplicates
      "   "        [   ]        (  )       {   } / {*}, set()
      str()        list()      tuple()       dict() / set()

    {*} - A set can not be declared with empty braces

# Section 4: Control flow

4.1 if ... statements

4.2 For loops

4.3 While loops

4.1 if ... statements
---

Description

---
The if statements are used to execute code based on specific conditions. They allow your program to make decisions and respond accordingly. It is one of the most basic forms of decision-making in programming. There are three main forms of conditional statements. These structures let you execute your code if the condition is true, add an alternative block to run when condition is false, and allow to check multiple conditions in sequence, running the first one that is true.

![IF_STATEMENT_001.png]()

Syntax

---

        if condition: block of code

        if condition: block of code else: block of code

        if condition: block of code elif condition: block of code else: block of code

if ... statement
---

Description

---

The syntax starts with *if* keyword, followed by a condition, and ends ith a colon. The indented code beneath it runs only if the condition evaluates to True. A simple *if* statement can be written in one line. The one line statemnent works the same as the multi-line version but is best used for short, simple action.

Syntax

---
          See examples below

Examples

---

In [ ]:
# If statement in two lines

if True:
  print ("Hello, World!")

In [ ]:
# If statement in one line

if True: print("Hello, World!")

In [ ]:
# If statement with the value of 1

if 1: print("Hello, World!")

In [ ]:
# If statement with the value of 0

if not 0: print("Hello, World!")

In [ ]:
# To reserve the if statement while you are writing a program

if True: pass

if ... statement with comparison operators
---

Description

---
The if statements are used to check against some conditions along the code. The basic form of an *if* statement allows a program to make decisions based on conditions using comparison operators. These operators include equal to (==), not equal to (!=), greater than (>), less than (<), greater than or equal to (>=), and less than or equal to (<=). The if statement evaluates the condition, and if it is true, it executes the indented block of code beneath it. For more information check the Section 2.

Syntax

---
          if (comparison statement): block of code

Examples

---

In [ ]:
# A simple example of an if statement with a comparison operator
# Comparison operators: ==, !=, >, <, >=, <=

myVariable = 5

if myVariable == 5: print("My integer variable is :", myVariable)

In [ ]:
# A simple example of an if statement with a comparison operator
# Comparison operators: ==, !=, >, <, >=, <=

myVariable = -5

if myVariable != 5: print("My integer variable is :", myVariable)

In [ ]:
# A simple example of an if statement with a comparison operator
# Comparison operators: ==, !=, >, <, >=, <=

myFirstVariable = 10.0

if (myFirstVariable > 9.99): print("True")

Note

---
You can compare integers with floats directly since both types are considered numeric types and can be evaluated using comarison operators. For example, if 10==10.0: will evaluate to True value. If you compare 10.0 and 9.99999 in if statement, Python uses standard floating-point comparison. The 10.0 is indeed greater than 9.99999, however, it is important to be catious due to possible rounding errors. For every close values, direct comparison might not behave as expected. To safely check if two floats are approximitely equal, it is better to use a small tolerance: if abs(10.0-9.99999) < 1E-5: print('Almost equal')

if ... statement with arithmetic, comparison, and assignment operators
---

Description

---
*if* statements can include expressions that combine arithmetic, comparison, and assignment operators to form condition-makin. Arithmetic operators, see Section 2, can be used to perform calculations within the condition. Comparison operators are used to evaluate the results of those calculations. Finally, the assignemnt operators are not allowed directly within the condition itself. The assignemnt must be done beforehand.

The wolrus operator (:=) is a special assignment expression that allows you to assign a value to a variable as a part of an expression, within an *if* statement. This operator combines assignment and evaluation in a single step. It is useful when you want to both use and test the result of an expression in the same line.

Syntax

---
          if (arithmetic comparison): block of code

Examples

---

In [ ]:
# if ... statements with arithmetic ( % ) and comparison ( == ) operators

myFirstVariable  = 20

if ( myFirstVariable % 2 == 0 ): print("myFirstVariable is an even number" )

In [ ]:
# if ... statements with arithmetic ( // ) and comparison ( == ) operators

mySecondVariable = 19

if (mySecondVariable // 2 == 9): print("Floor division rounds the result down to the nearest whole number")

In [ ]:
# if x = 5: print('x is 5') Illegal statement since assignment operator (=) is used

if (x:=5) > 4: print(f"x is {x} and greater than 4")

In [ ]:
# if ... statements with arithmetic ( ** ), comparison ( >= ), and walrus ( := ) operators

mySecondVariable = 2

if ((myTest := mySecondVariable ** 8) >= 256): print ("Exponentiation test :", myTest)

if ... statement with arithmetic, comparison, and logical operators
---

Description

---
*if* statements can combine arithmetic, comparison, and logical operators to create more complex conditions. Arithmetic operators perform calculations within the condition, comparison operators are used to evaluate relationships between values, logical operators allow you to combine multiple conditions. This combination gives you powerful control over program flow, enabling decisions based on multiple factors in a single *if* statement.

Syntax

---
          if (arithmetic comparison logical ...): block of code

Examples

---

In [ ]:
# if ... statements with arithmetic ( % ), comparison ( == ), and logical ( and ) operators

myFirstVariable = 20
mySecondVariable = 40

if (myFirstVariable % 2 == 0 and mySecondVariable % 2 == 0 ): print("Both conditions must be True")

In [ ]:
# if ... statements with arithmetic ( % ), comparison ( == ), and logical ( or ) operators

myFirstVariable = 20
mySecondVariable = 41

if (myFirstVariable % 2 == 0 or mySecondVariable % 2 == 0 ): print("One condition is sufficient to be True")

In [ ]:
# if ... statements with arithmetic ( % ), comparison ( == ), and logical ( not ) operators

myFirstVariable = 20

if (not myFirstVariable % 2 == 1): print ("The condition is reversed")

Nested if ... statement
---

Description

---
Nested *if* statements allow for checking multiple conditions in a hierarchical manner, where the inner condition is only evaluated if the outer condition is true. Nested *if* statements are useful when decisions depend on previous conditions, helping to create clear and structured logic. However, they should be used with care to avoid overly deep nesting, which can make code harder to read and maintain.

Syntax

---
          if condition:
              if condition:
                  block of code

Examples

---

In [ ]:
# Nested if statements

myFirstVariable  = 10
mySecondVariable = 20

if (myFirstVariable == 10):
  print("My first variable is :", myFirstVariable)
  if (mySecondVariable == 20):
    print("My second variable is :", mySecondVariable)

In [ ]:
# Nested if statements

myFirstVariable  = 10
mySecondVariable = 20
myThirdVariable  = 30

if (myFirstVariable == 10):
  print("My first variable is :", myFirstVariable)
  if (mySecondVariable == 20):
    print("My second variable is :", mySecondVariable)
    if (myThirdVariable == 30):
      print("My third variable is :", myThirdVariable)

if ... else statement
---

Description

---
*if ...else* statement are used to execute one block of code if a condition is True and a different block of code if the condition is False. This allows a program to handle two possible outcomes. This statement is a fundamental part of decision-making in Python program.

![ALL_STATEMENTS_002.png]()

Syntax

---
          if condition:
              block of code
          else:
              block of code

if ... else statement with comparison operators
---

Description

---
*if...else* statements can be combined with comparison operators to make decisions based on how values relate to each other. Depending on the results, the program executes one of two code blocks. This structure is essential for controlling program flow based on specific comparisons.

Syntax

---
          See examples below

Examples

___

In [ ]:
# Equal to comparison operator: ==

myFirstVariable  = 0.0
mySecondVariable = 1.0

if myFirstVariable == mySecondVariable:
  print("First condition is True")
else:
  print("First Condition is False")

In [ ]:
# Not equal to comparison operator: !=

myFirstVariable  = 1.0
mySecondVariable = 1.0

if myFirstVariable != mySecondVariable:
  print("First condition is True")
else:
  print("First condition is False")

In [ ]:
# Greater than comparison operator: >

myFirstVariable  = 1.0
mySecondVariable = 1.0

if myFirstVariable > mySecondVariable:
  print("First condition is True")
else:
  print("First Condition is False")

In [ ]:
# Less than comparison operator: <

myFirstVariable  = 1.0
mySecondVariable = 1.0

if myFirstVariable > mySecondVariable:
  print("First condition is True")
else:
  print("First Condition is False")

In [ ]:
# Greater than or equal to comparison operator: >=

myFirstVariable  = 1.0
mySecondVariable = 1.0

if myFirstVariable >= mySecondVariable:
  print("First condition is True")
else:
  print("First Condition is False")

In [ ]:
# Less than or equal to comparison operator: <=

myFirstVariable  = 1.0
mySecondVariable = 1.0

if myFirstVariable <= mySecondVariable:
  print("First condition is True")
else:
  print("First Condition is False")

In [ ]:
# Short hand example 1

myFirstVariable  = 1.0
mySecondVariable = 1.0

if myFirstVariable <= mySecondVariable: print("First condition is True")
else: print("First Condition is False")

In [ ]:
# Short hand example 2

myFirstVariable  = 1.0
mySecondVariable = 2.0

print("True") if myFirstVariable == mySecondVariable else print("False")

In [ ]:
# Short hand example 3

myFirstVariable  = 1.0
mySecondVariable = 2.0

print("True") if myFirstVariable <= mySecondVariable and myFirstVariable > 0 else print("False")

In [ ]:
# Short hand example 4

myFirstVariable  = 1.0
mySecondVariable = 2.0

print("True") if (myTestVariable:= myFirstVariable + 2.0) <= mySecondVariable and myFirstVariable > 0 else print("False")

if ... else statement with arithmetic and comparison operators
---

Description

---
*if ...else* statements can use both arithmetic and comparison operators to make decisions based on calculated values. Arithmetic operators perform mathematical operations, while comparison operators will compare the results. You can use arithmetic and comparison operators within the if ... else statements to create conditional logic, based on mathematical operations and comparisons.

Syntax

---
          See examples below

Examples

---

In [ ]:
# if ... else statements with arithmetic ( + ) and comparison ( == ) operators

myFirstVariable = 10

if (myFirstVariable + myFirstVariable == 5): print("The value is 5")
else: print("The value is 10")

In [ ]:
# if ... else statements with arithmetic ( % ) and comparison ( == ) operators

myFirstVariable = 10

if (myFirstVariable % 2 == 0): print("My variable is an even number")
else: print("My variable is an odd number")

In [ ]:
# if ... else statements with arithmetic ( // ) and comparison ( == ) operators

myFirstVariable = 52

if (myFirstVariable // 10 == 1): print("Floor division rounds the result down to the nearest whole number")
else: print("The result of the floor division is another number :", myFirstVariable // 10)

if ... else statement with arithmetic, comparison, and logical operators
---

Description

---
*if...else* statements can combine arithmetic, comparison, and logical operators to create complex decision-making conditions. You can use arithmetic, comparison and logical operators within the if ... else statements to create conditional logic, based on mathematical operations and comparisons.

Syntax

---
          See examples below

Examples

---

In [ ]:
# if ... else statements with arithmetic ( % ), comparison ( == ), and logical ( and ) operators

myFirstVariable  = 10.0
mySecondVariable = 20.0

if (myFirstVariable % 2 == 0 and mySecondVariable % 2 == 0):
  print("Both conditions are True")
else:
  print("One of these conditions is False ")

In [ ]:
# if ... else statements with arithmetic ( + ), comparison ( > ), and logical ( or ) operators

myFirstVariable  = 10.0
mySecondVariable = 20.0

if (myFirstVariable + mySecondVariable > 20.0 or mySecondVariable > 20.0):
  print("One of these conditions is True")
else:
  print("None of these conditions is True")

In [ ]:
# if ... else statements with arithmetic ( * ), comparison ( == ), and logical ( not ) operators

myFirstVariable =  2.0
myThirdVariable = 20.0

if not myFirstVariable * 100 == myThirdVariable:
  print("This condition is True")
else:
  print("The condition is False")

Nested if ... else statement
---

Description

---
Nested *if...else* statements allow you to place one *if ... else* block inside another, enabling the program to make more specific decisions based on multiple levels of conditions. This structure is useful when a decision depends on a previous condition being True or False. It allows you to create more complex conditional logic and test multiple conditions in your code. Here are two examples of nested if ... else statements.

Syntax

---
      See examples below

Examples

---

In [ ]:
# Nested if ... else statement

myFirstVariable  = 10
mySecondVariable = 30

if (myFirstVariable == 10):
  print("My first variable is :", myFirstVariable)

  if (mySecondVariable == 20):
    print("My second variable is :", mySecondVariable)

  else:
    print("My second variable is :", mySecondVariable)

In [ ]:
# Nested if ... else statement

myFirstVariable  = "A"
mySecondVariable = "B"

if (myFirstVariable == "A"):
  print("My first variable is :", myFirstVariable)

  if (mySecondVariable == "B"):
    print("My second variable is :", mySecondVariable)

  else:
    print("My second variable is :", mySecondVariable)

else:
  print("My first variable is :", myFirstVariable)

if ... elif ... else statement
---

Description

---
The *if...elif...else* statement is used to handle multiple conditions in a clear and structured way. It starts with an *if* condition, followed by one or more *elif* (short for else if) conditions, and ends with optional else block. The program checks each condition in order to execute the block of code for the first condition that is True and skipping the rest. If non of the conditions are True, the else condition will run. This structure is ideal for selecting one outcome from several possibilities without writing multiple nested *if* statements.

![IF_STATEMENTS_ALL.png]()

Syntax

---
          if condition1:
              block of code
          elif condition2:
              block of code
          else:
              block of code

if ... elif ... else statement with comparison operators
---

Description

---
The *if...elif...else* statement can be combined with comparison operators to make decision based on multiple conditions. Comparison operators will be used to evaluate the relationship between values, allowing the program to execute different code blocks depending on the result. The conditions are evaluated in order and only the first true condition executes. If non of the conditions are True, the else block will be executed, providing a default action.

Syntax

---
          See examples below

Examples

---

In [ ]:
# if ... elif ... else statements with comparison ( == ) and ( < ) operators
# First condition is true

myFirstVariable  = "A"
mySecondVariable = "B"

if ( myFirstVariable == "A" ):
  print("First condition is True")

elif ( myFirstVariable < mySecondVariable ):
  print("Second condition is True")

else:
  print("All conditions are False")

print ("Out of if ... statement")

In [ ]:
# if ... elif ... else statements with comparison ( == ) and ( < ) operators
# Second condition is true

myFirstVariable  = "a"
mySecondVariable = "b"

if ( myFirstVariable == "A" ):
  print("First condition is True")

elif ( myFirstVariable < mySecondVariable ):
  print("Second condition is True")

else:
  print("All conditions are False")

print ("Out of if ... statement")

In [ ]:
# if ... elif ... else statements with comparison ( == ) and ( < ) operators
# All conditions are false, executing the else statement

myFirstVariable  = "a"
mySecondVariable = "a"

if ( myFirstVariable == "A" ):
  print("First condition is True")

elif ( myFirstVariable < mySecondVariable ):
  print("Second condition is True")

else:
  print("All conditions are False")

print ("Out of if ... statement")

In [ ]:
# if ... elif ... else statements with comparison ( == ) and ( > ) operators

myFirstVariable  = -1
mySecondVariable = 2

if ( myFirstVariable ==  0 ):
  print("My first variable equals to zero")

elif ( myFirstVariable > 1 ):
  print("My first variable is greater than one")

elif ( myFirstVariable == mySecondVariable ):
  print("My first variable is equal to my second variable")

else:
  print("My first variable is less than zero")

if ... elif ... else statement with comparison and logical operators
---

Description

---
The *if...elif...else* statement can be enhanced with comparison and logical operators to create more complex decision-making conditions. Comparison operators can be used to evaluate relatinships between values, while logical operators allow for combining multiple conditions. This type of structure enables the program to handle multiple criteria and execute the appropriate code block based on more refined conditions.

Syntax

---
          See examples below

Examples

---

In [ ]:
# if ... elif ... else statements with comparison ( == ), ( > ), and (>=) and logical ( and ), ( or ), and ( not ) operators

myFirstVariable  = 2
mySecondVariable = 2

if ( myFirstVariable == mySecondVariable and myFirstVariable < 0 ):
  print("Both conditions must be True")

elif ( myFirstVariable > mySecondVariable or myFirstVariable > 2):
  print("Only one condition must be True")

elif ( not myFirstVariable >= mySecondVariable ):
  print("One condition should be True")

else:
  print("All conditions are False")

Nested if ... elif ... else statement
---

Description

---
A nested *if...elif...else* statement is a control structure where an *if*, *elif*, or *else* block is placed inside another. Thsi structure allows to evaluate multiple levels of conditions. Nested *if...elif...else* statements are useful for evaluating more detailed or hierarchical conditions, but should be used carefully to avoid making a very complicated structures.

Syntax

---
          See examples below

Examples

---

In [ ]:
# Nested if ... elif ... else statements with comparison operators

myFirstVariable  = 1
mySecondVariable = 2
myThirdVariable  = 3

if ( myFirstVariable < mySecondVariable ):

    if ( myFirstVariable > myThirdVariable):
      print("My first variable is < my second variable but > my third variable")

    elif ( myFirstVariable == myThirdVariable):
      print("My first variable is < my second variable but == to my third variable")

    elif ( myFirstVariable < myThirdVariable):
      print("My first variable is < my second variable and < my third variable")

elif ( myFirstVariable == mySecondVariable):
  print("My first variable is == to my second variable")

else:
  print("My first variable is greater than my second and my third variables")

4.2 For loops
---

Description

---
A *for* loop is used to iterate over a sequence ( such as a list, tuple, string, or range collections) and execute a block of code repeatedly for each item in the sequence. It is one of the most commonly used loops in Python due to its simplicity and readability. The loop begins with the *for* keyword, followed by a variable that represents the current item in the sequence, and the *in* keyword to specify the sequence. The block of code to be executed is indented underneath. A *for* loop is practicaly useful when you know the number of iterations or want to process every item in a collection without manually indexing each element.

Syntax

---
          for item in sequence:
              block of code

For loop
---

Description

---

A *for* loop is an iterative function that allows you to iterate over a data sequence. There are two keywords in the for loop structure: "for" and "in". The for loop statement will access each element of the sequence at each iteration. The loop will continue iterating until it reaches the last element of a sequence.

Syntax

---
          See examples below

Examples

---

In [ ]:
# A for loop example with a dummy pass statement

for i in range(10): pass

In [ ]:
# A for loop example with range function

for i in range(10): print(i, end = " ")

In [ ]:
# A for loop example using my fish list

myFishList = ["Bass", "Red Snapper", "Karp", "Pike", "Perch"]

for name in myFishList: print(name, end = "; ")

For loop with no elements
---

Description

---
When you use underscore (_) in for loop statement it is used as a placeholder for values you want to ignore. Here's an example of a for loop with throwaway variable. It is a convention to use an underscore as a variable name when you would like to iterate over a sequence, but do not want to use the individual elements.

Syntax

---
          for _ in sequence:
             block of code

Example

---

In [ ]:
# No items in the loop

myNumberList = range(3)

for _ in myNumberList:
  print("Hello World!")

For loops with data sequences
---

Description

---
For loops are commonly used to iterate over data sequences like strings, lists, tuples, dictionaries, and sets. These sequences contain multiple elements, and the *for* loop allows you to process each element one at a time. You can loop through strings character by character. You can loop through other structures the same way. Here are a few examples of for loops with data sequences.

Syntax

---
          for item in sequence:
              block of code

Examples

---

In [ ]:
# A for loop with a string

for i in "Bootcamp, May 23rd, 2023":
  print (i, end=" ")

In [ ]:
# A for loop with a number list sequence

myListSequence = [ 1, 2, 3, 4, 5 ]

for i in myListSequence:
  print(i, end = " ")

In [ ]:
# A for loop with a number tuple sequence

myTupleSequence = ( 1, 2, 3, 4, 5 )

for i in myTupleSequence:
  print(i, end = " ")

In [ ]:
# A for loop with a dictionary's keys

myDictionarySequence = { "key 1":10, "key 2":20, "key 3":30, "key 4":40, "key 5":50 }

for i in myDictionarySequence:
  print(i, end = " ")

In [ ]:
# A for loop with a dictionary's values

myDictionary = { "key 1":10, "key 2":20, "key 3":30, "key 4":40, "key 5":50 }

for i in myDictionary:
  print(myDictionary[i], end = " ")

In [ ]:
# A for loop with a set sequence

mySetList = { 1, 2, 3, 4, 5 }

for i in mySetList:
  print(i, end = " ")

Dictionary methods with For loops
---

Description

---
You can use *for* loops with dictionary methods to efficiently iterate over keys, values, or both. Dictionaries store data in key-value pairs, looping through them allows you to process or analyze each pair. The keys() method lets you loop through just the keys, the values() method loops through the values, and items() method allows you to access both keys and values at the same time. These methods make it easy to navigate and manipulate dictionary data, which is especially useful when dealing with structured informatin like settings, records, or grouped data.

Syntax

---
          for item in myDictionary.method():
              block of code

Examples

---

In [ ]:
# A for loop with the dictionary keys method: keys()

myDictionarySequence = { "key 1":10, "key 2":20, "key 3":30, "key 4":40, "key 5":50 }

for i in myDictionarySequence.keys():
  print(i, end = " ")

In [ ]:
# A for loop with the dictionary values method: values()

myDictionarySequence = { "key 1":10, "key 2":20, "key 3":30, "key 4":40, "key 5":50 }

for i in myDictionarySequence.values():
  print(i, end = " ")

In [ ]:
# A for loop with the dictionary items method: items()

myDictionarySequence = { "key 1":10, "key 2":20, "key 3":30, "key 4":40, "key 5":50 }

for i in myDictionarySequence.items():
  print(i, end = " ")

For loop with else statement
---

Description

---
A *for* loop can be paired with an *else* statement, which executes after the loop finishes iterating over all items. This feature is often used when searching for an item an needing to perform an action if the item is not found. The *for...else* structure adds a clean way to handle post-loop logic when no early exit occurs.

Syntax

---
          for item in sequence:
              block of code
          else
              block of code

Examples

---

In [ ]:
# For loop with else statement

myNumberList = [ 1, 2, 3, 4, 5 ]

for i in myNumberList:
  print(i, end = " ")
else:
  print("\nThis sequence is over!")

For loop with break, continue, and pass statements
---

Description

---
*for* loops can be controlled more precisely using *break*, *continue*, and *pass* statements. The *break* statement immediately exits the loop when a certain condition is met, stopping any further iterations. The *continue* statementskips the rest of the current iteration and moves to the next itemin the sequence, allowing selective executionof loop code. The *pass* statement does nothing at all and serves as a placeholder when a statement is syntactucally correct and no action is needed. these control statements help make loop behavior more flexible and responsive to specific conditions.

Syntax

---
          Using break statement

          for item in sequence:
              if condition:
                  break
              block of code to execute if condition is False

          Using continue statement

          for item in sequence:
              if condition:
                  continue
              block of code to execute if condition is False

          Using pass statement

          for item in sequence:
              if condition:
                  pass
              block of code to execute regardless the condition status

Examples

---

In [ ]:
# A for loop with a break statement

myFirstList = [ 1, 2, 3, 4, 5]

for i in myFirstList:
  if i == 3:
    break
  print("i = ", i)

In [ ]:
# A for loop with an arithmetic % operator and a continue statement

myFirstList    = [ 1, 2, 3, 4, 5, 6, 7, 8, 9 ]

for i in myFirstList:
  if i % 2 == 0:
      continue
  print (str(i)," ")

In [ ]:
# A for loop with an arithmetic % operator and a pass statement

myFirstList    = [ 1, 2, 3, 4, 5, 6, 7, 8, 9 ]

for i in myFirstList:
  if i % 2 == 0:
      pass
  print (str(i)," ")

Nested For loop
---

Description

---
A nested *for* loop placed inside of another *for* loop. It allows one to iterate through a multi dimentional list or matrix. Here'a an example of the nested for loop. Nested *for* loops are useful for tasks like iterating through rows and columns of a 2D list, comparing each elementin one list to every element in another, or generating combinations of multiple variables.

Syntax

---
          for item in sequence1:
              for item in sequence2:
                  block of code

In [ ]:
# A nested for loop

myFirstList    = [ 1, 2, 3 ]
mySecondList   = [ 1, 2, 3 ]

for i in myFirstList:
  for j in mySecondList:
    print (str(i),str(j)," ")

Nested for loop with break statements
---

Description

---

A *for* loop with a *break* statement is used to exit the loop prematurely when a specific condition is met. Normally, a *for* loop iterates over all elements in a sequence, but *break* provides a way to stop the loop as soon as the desired result is found or stopping condition is triggered. This is particularly useful for search operations, where continuing the loop will not be necessary. Using *break* can improve efficiency by avoiding extra iterations when the goal is already achieved.

Syntax

---
          for item in sequence1:
              for item in sequence2:
                  break

Examples

---

In [ ]:
# A nested for loop with an innermost break statement

myFirstList    = [ 1, 2, 3 ]
mySecondList   = [ 1, 2, 3 ]

for i in myFirstList:
  for j in mySecondList:
    if j == 3:
      break
    print (str(i),str(j)," ")

In [ ]:
# A nested for loop with an outer break statement

myFirstList    = [ 1, 2, 3 ]
mySecondList   = [ 1, 2, 3 ]

for i in myFirstList:
  if i == 3:
      break
  for j in mySecondList:
    print (str(i),str(j)," ")

Nested for loop with continue statements
---

Description

---
A nested *for* loop with a *continue* statement allows you to skip specific iterations within the inner or outer loop based on a condition. The *continue* statement immediately skips to the next iterationof the current loop level without executing the remaining code in that iteration. *continue* is very useful in nested *for* loops for filtering out specific values or conditions without braking the entire loop structure.

Syntax

---
          for item in sequence1:
              for item in sequence2:
                  continue

Examples

---

In [ ]:
# A nested for loop with an innermost continue statement

myFirstList    = [ 1, 2, 3 ]
mySecondList   = [ 1, 2, 3 ]

for i in myFirstList:
  for j in mySecondList:
    if j == 3: continue
    print (str(i),str(j)," ")

In [ ]:
# A nested for loop with an outer continue statement

myFirstList    = [ 1, 2, 3 ]
mySecondList   = [ 1, 2, 3 ]

for i in myFirstList:
  if i == 2: continue
  for j in mySecondList:
    print (str(i),str(j)," ")

Nested for loop with pass statements
---

Description

---
A *for* loop with a *pass* statement is used when a syntactically required block of code is needed, but no action should be taken at that point in the loop. The *pass* statement acts as a placeholder, doing nothing when executed, and is often used during code development as a temporary stub or to handle a condition without affecting the loop's logic. Using *pass* allows the code to run without errors while signaling that a condition or block is intentionally left empty for future implementation.

Syntax

---
        See example below

Examples

---

In [ ]:
# Nested for loop with outermost pass statement

myFirstList    = [ 1, 2, 3 ]
mySecondList   = [ 1, 2, 3 ]

for i in myFirstList:
  if i == 2:
    pass
  for j in mySecondList:
    print (str(i),str(j)," ")

For loops using list comprehension
---

Description

---
A *for* loop can be concisely expressed using list comprehension, which provides an easy and readable way to create new lists by applying an expression to each item in a sequence. Lists comprehensions are more efficient and cleaner that traditional *for* loops when generating *lists* for simple operations. They can also included nested loops or multiple conditions, making them a powerful tool for concise list generation.

![Presentation_list.png]()

Syntax

---
          [expression for item in iterable if condition]

Examples

---

In [ ]:
# List comprehension

myNumberList = [myNum for myNum in range(1,6)]

print(myNumberList)

In [ ]:
# A regular for loop, which is analogous to the list comprehension

myNumberList = []

for myNum in range(1,6):
  myNumberList.append(myNum)

print(myNumberList)

In [ ]:
# A list comprehension example

myNumberList = [ myNum + 10  for myNum in range(0,10) if myNum % 2 == 0]

print(myNumberList)

In [ ]:
# A regular for loop, which is analogous to the list comprehension

myNumberList = []

for myNum in range(0,10):

    if myNum % 2 == 0:
      myNumberList.append(myNum + 10)

print(myNumberList)

List comprehension with nested for loops
---

Description

---
Nested *for* loops can also be used within list comprehensions to create complex lists by combining multiple sequences. This allows you to iterateover multiple levels of data in a single line of code. List comprehensions with nested loops are especially useful for flattering matrices, creating Cartesian products, or performing operations across multiple datasets in a compact and readable format. However, the readability can suffer when complexity increases.

Syntax

---
      [expression for item1 in sequence1 for item2 in sequence2]

Examples

---

In [ ]:
# List comprehension with nested for loops

myNumberList = [ n for m in range(0,3) for n in range(0,3)]

print(myNumberList)

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
# Regular for loop, which is analogous to the list comprehension

myNumberList = []

for m in range(0,3):
  for n in range(0,3):
    myNumberList.append(n)

print(myNumberList)

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
# List comprehension with nested for loops: m x n matrix

myMatrixList = [ [m for m in range(0,3)] for n in range(0,3)]

print(myMatrixList)

In [ ]:
# Regular for loop, which is analogous to the list comprehension: m x n matrix

myMatrixList = []

for m in range(0,3):
  myTempList = []
  for n in range(0,3):
    myTempList.append(n)
  myMatrixList.append(myTempList)

print(myMatrixList)

For loops using dictionary comprehension
---

Description

---
Dictionary comprehension is a fast way of creating dictionaries in consice and readable way. It can also be used as a data filter. It is easier to read and understand. The syntax of the dictionary comprehension is similar to that of list comprehension. You can also include *if* statement to filter which items are included. Dictionary comprehensions are useful for transforming data, filtering keys or values, and creating mapping efficiently.

![Presentation_dictionary.png]()

Syntax

---
          {key:value for item in iterable if condition}

Examples

---

In [ ]:
# Dictionary comprehension

newDictionary = { myNum: myNum + 10    for myNum in range(1,15)   if myNum * myNum % 2 == 0 }

print(newDictionary)

In [ ]:
# Regular for loop, which is analogous to the list comprehension

newDictionary = {}

for myNum in range(1,15):
  if ( myNum * myNum % 2 == 0 ):
    newDictionary[myNum] = myNum + 10

print(newDictionary)

For loops using set comprehension
---

Description

---
Set comprehension is a concise way to create sets using a *for* loop structure in a single line of code. It uses curly braces. This approach authomatically removes duplicate values, if any, because sets only store unique elements. Set comprehension is particularly useful for filtering unique results from sequence or applying transformations while elemenating duplicates.

Syntax

---
      {expression for item in iterable if condition}

Examples

---

In [ ]:
# A set can be created with the set comprehension in Python

mySetList = { myNum + 2 for myNum in range(1,6)}
print(mySetList)

In [ ]:
# Regular for loop, which is analogous to the list comprehension

newSet = set()

for myNum in range(1,6):
    newSet.add(myNum + 2)

print(newSet, sep=",", end="")

For loops using tuple comprehension
---

Description

---
There is no tuple comprehension in Python. What may appear to be a tuple comprehension - using paranthesis () is actually a generator expression, and not a tuple. A generator expression creates an iterator that yields items one by one and does not store them in memory all at once like a tuple would.

Syntax

---
          See examples below

Examples

---

In [ ]:
# There is no tuple comprehension in Python - generator

myTupleList = ( myNum for myNum in range(1,6))
print(myTupleList)

In [ ]:
# Mimmiking the tuple comprehension - generator

myTupleList = tuple( myNum + 2 for myNum in range(1,6))
print(myTupleList)

For loop using the built-in functions
---

Description

---
*for* loops can be used with build-in functions to process and manipulate sequences in a clear and efficient way. Functions like *range()*, *enumerate()*, *zip()*, *sorted()*, and *reversed()* are commonly used in conjuction with for loops. *range()* function allows to generate sequence of numbers, *enumerate()* function allows you to loop over a sequence and get both the index and the value, zip() function combines two or more iterables into pairs.These built-in functions make *for* loops more versatile and powerful for processing data.

Syntax

---
          See examples below

Examples

---

In [ ]:
# For loop is built with the len() and range() functions

myNumberList = [ 1, 2, 3, 4, 5 ]

for number in range(len(myNumberList)): print(myNumberList[number], end = " ")

In [ ]:
# For loop is built with the enumerate function

myNumberList = [ 1, 2, 3, 4, 5 ]

for number in enumerate(myNumberList): print(number, end = " ")

In [ ]:
# For loop with zip  function example

myNumberList = [ 1, 2, 3, 4, 5 ]
myStringList = [ "one", "two", "three", "four", "five" ]

for number, string in zip(myNumberList, myStringList): print(number, string)

4.3 While loops
---

Description

---
A *while* loop is used to repeatedly execute a block of code as long as a given condition is true. Unlike *for* loop, *while* loop are condition-controlled and continue running until the conditino becomes False. If the condition is never False, the loop can become infinite, so it is important to ensure that the loop variable is updated appropriately within the loop body. *while* loops are especially useful when the number of iterations is not known in advanced and the loop should continueuntil a specific state is reached.

Syntax

---
      while condition: block of code

Examples

---

In [ ]:
# While loop with pass statement

while False: pass

In [ ]:
# While loop with pass statement

while 0: pass

In [ ]:
# Infinite while loop with pass statement

while 1: pass

In [ ]:
# Infinite while loop with print statement

while True: print("Infinite loop")

In [ ]:
# While loop statement with comparison operator: <

myFirstVariable = 5
i = 0

while i < myFirstVariable:
  print(i, end=" ")
  i += 1

In [ ]:
# While loop statement with comparison operator: <=

myFirstVariable = 5
i = 0

while i <= myFirstVariable:
  print(i, end=" ")
  i += 1

While loop with the break, continue, and pass statements
---

Description

---
*while* loops can be enhanced using the *break*, *continue*, and *pass* statements to control the flow of execution. The *break* statement immediately exits the loop when a specified condition is met, preventing further iterations. The *continue* statement skips the current iteration and jumps to the next one, useful for ignoring certain conditionswithout exiting the loop, and the *pass* statement acts as a placeholder, doing nothing when executed. It is often used when a block is required syntactically but no action is needed.

Syntax

---
          while condition:
              if condition:
                  break

          while condition:
              if condition:
                  continue

          while condition:
              if condition:
                  pass

Examples

---

In [ ]:
# While loop statement if comparison operator ( < ) and break statement

myFirstVariable = 5
i = 0

while i < 5:
  print(i)
  if i == 3:
    break     # stops the loop even with the while condition is being true
  i += 1

In [ ]:
# While loop statement if comparison operator ( < ) and continue statement

myFirstVariable = 5
i = 0

while i < 5:
  i += 1
  if i == 3:
    continue
  print(i)

In [ ]:
# While loop statement if comparison operator ( < ) and break statement

myFirstVariable = 5
i = 0

while i < 5:
  i += 1
  if i == 3:
    pass
  print(i)

While loop with else statement
---

Description

---
A *while* loop can include an optional *else* clause, which executes after the loop finishes normally. This feature is useful for running a block of code when the loop condition becomes false, allowing post loop processing or confirmation that the loop ran to completion.

Syntax

---
          while condition:
              block of code
          else:
              block of code

Examples

---

In [ ]:
# While loop statement with else statement

myFirstVariable = 5
i = 0

while i < 5:
  print(i)
  i += 1
else:
  print("i is not less than 5 anymore")

Nested While loops
---

Description

---
A nested *while* loop is a *while* loop placed inside of another *while* loop, allowing repeated iterations within repeated iterations. This is useful for working with multi-dimentional data or performin repetitive checks inside a broader condition. For instance, the outer loop could control rows and the inner loop could handle columns in a matrix. Each time the outer loop runs once, the inner loop runs completely if condition remain True. You need to update the loop variables properly inside both loops to avoid infinite loops.

Syntax

---
          while condition1:
              block fo code
                  while condition2:
                      block of code

Examples

---

In [ ]:
# Nested while loops

myFirstVariable = 5
i, j = 0, 0

while i < 5:
  print(i)
  i += 1
  while j < 5:
    print(j)
    j += 1

Nested While loop with break statement
---

Description

---
A nested loop with a *break* statement allows you to exit not only the inner loop but also control the outer loop's execution based on certain conditions. When a break statement is encounterred within the inner loop, it immediately terminates that loop. A *break* in the inner loop can stop further iterations and a *break* statement in the outer loop will exit the outer loop once the condition is met.

Syntax

---
          while condition1:
              while condition2:
                  if condition:
                      break
              else:
                  continue
              break

Examples

---

In [ ]:
# Nested while loops with brake statements

myFirstVariable = 5
i, j = 0, 0

while i < 5:
  print(i, j)
  i += 1
  while j < 5:
    j += 1
    if j == 2:
      break
    print(i,j)
else:
  print("i is no longer less than 5")

Nested While loop with continue statement
---

Description

---
A *while* loop with a *continue* statement allows you to skip the rest of the loop body for the current iteration and jump back to the loop condition check. This is useful to ignore certain cases while still continuing the loop.

Syntax

---
          while condition1:
              while condition2:
                  if condition:
                      continue

Examples

---

In [ ]:
# Nested while loops with continue statement

i, j = 0, 0

while i < 3:
  print(i, j)
  i += 1
  while j < 3:
    j += 1
    if j == 2:
      continue
    print(i,j)
else:
  print("i is no longer less than 5")

Nested While loop with pass statement
---

Description

---
A nested while loop with the *pass* statement allows you to structurecomplex logic with placeholder code where actions are yet to be implemented. The *pass* statement does notheing and it simply acts as a syntactic placeholder where code is required but not yet written.

Syntax

---
          while condition1:
              while condition2:
                  if condition
                      pass

Examples

---

In [ ]:
# Nested while loops with else statements

myFirstVariable = 5
i, j = 0, 0

while i < 5:
  print(i,j)
  i += 1
  while j < 5:
    print(i,j)
    j += 1
  else:
    pass
else:
  print("i is no longer less than 5")

# Section 5: Functions

5.1 User defined functions

5.2 Global and local variables

5.3 Parameters vs arguments

5.4 Recursive functions

5.5 Lambda functions

5.6 Function annotations

5.1 User-defined functions
---

Description

---
Function is a block of orginized code to perform a specific action. Python language provides many built-in functions like *print()*, *len()*, *range()*, and ... However, you can create your own functions that are usually called user-define functions. Functions help to improve readability and usageability of your code.
Python reads the program from top to bottom and you need to define a function before yuo can use it. There are a few rules to define a function.

1. A function declared using the def keyword following by a function name and parenthesis, and ending with a column.
2. Parameters can be placed inside of the parenthesis.
3. The code block or multiple statements should be indented.
4. The return statement will exit the function and pass a result to the caller.value

Syntax

---
          def functionName(parameters): block of code / return value

Basics of user-defined functions
---

Description

---
User-defined functions allow programmers to create reusable blocks of code that perform specific tasks. A function is defined using the *def* keyword followed by the function name, parentheses, which may include parameters, and a colon. The function body is intended and contains the code to be executed when the function is called. Function can return values using *return* statement, or simply perform actions without returning anything. User defined functions make code more modular, readable, and easier to maintain by avoiding repetition and organizing logic into logical units.

Syntax

---
          See examples below

Examples

---

In [ ]:
# Defining an empty function

def myEmptyFunction(): # Function definition
    pass

In [ ]:
# Defining a function

def myFirstFunction():
    pass               # Body statement

In [ ]:
# Defining a function and making a call

def myFirstFunction():
    pass

myFirstFunction()        # Function call

In [ ]:
# Defining function with the body statement making a call

def myFirstFunction():    # Function definition
  print("Hello World!")   # Body statement

myFirstFunction()         # Function call

Function with the return statement
---

Description
---
A function with a *return* statement sends a value back to the part of the program where the function was called. The return statement inside of a function will terminate the function execution and return to the calling position with some return value. The return value can be any data type including int, float, complex data, data sequencies,and user-defined objects like classes and functions. The return value can be omited or you can have a single return statement. A function can have multiple *return* statements often within conditional blocks, but only one will be executed and function will exit. If no *return* statement is given, the function returns None by default. Using *return* allows the functions to produce outputs that can be reused elsewhere in a program, making them more versatile and powerful.

Syntax

---
          See examples below

Examples

---

In [ ]:
# Defining function with a return statement

def myTestFunction(): return

myTestFunction()

In [ ]:
# Defining function with an explicit return statement

def myFirstFunction():
  print("Before the return statement")
  return
  print("After the return statement")

myFirstFunction()

In [ ]:
# Defining function with an explicit return value in one line

def myFirstFunction(): return 2 + 3

print(myFirstFunction())

In [ ]:
# Returning a list of values using list comprehension

def myListFunction(myNumberList):
  myNumber = [i for i in myNumberList if i % 2 == 0]
  return myNumber

myNumberList = [ 1, 2, 3, 4, 5, 6, 7, 8]

print(myListFunction(myNumberList))

5.2 Global and local variables
---

Description

---
Local and global variables determine the scope and accessiblility of data within the program. A local variable is defined inside a function and can only be accessed within that function. In contrast, a global variable is defined outside any function and can be accessed throughout the entire Python program, including inside functions. If you want to modify a global variable variable within a function, you must use the *global* keyword, otherwise, Python will treat any assignments as creating a new local variable.

Syntax

---
          Local variable

          def functionName():
              localVariable = value

          Global variable
          
          def functionName():
              global globalVariable

Examples

---

In [ ]:
# Global variable is defined outside of a function

myGlobalVariable = "cool!"

def myTestFunc():
  print("Python is " + myGlobalVariable)

myTestFunc()

In [ ]:
# Local variable is defined inside of a function

def myTestFunc():
  myLocalVariable = "cool!"
  print("Python is " + myLocalVariable)

myTestFunc()

In [ ]:
# Global and local variables

def myTestFunc():
  myLocalVariable = "fantastic"
  print("Python is " + myGlobalVariable + "!" + "- from function")
  print("Python is " + myLocalVariable  + "!" + "- from function")

myGlobalVariable = "awesome"

myTestFunc()

#print("Python is " + myLocalVariable)

In [ ]:
# If global and local variables are defined with the same name

def myTestFunc():
  myVariable = "fantastic"
  print("Python is " + myVariable + "!" + " - from function")

myVariable = "awesome"

myTestFunc()

print("Python is " + myVariable)

In [ ]:
# How can you create a global variable in the local scope, inside of a function

def myTestFunc():
    global myLocalVariable

    myLocalVariable = "fantastic"

    print("Python is " + myGlobalVariable + "!" + " from function")
    print("Python is " + myLocalVariable  + "!" + " from function")

myGlobalVariable = "awesome"

myTestFunc()

print("Python is " + myLocalVariable + "!")

In [ ]:
# If global variable needs to be modified

def myTestFunc():
  global myVariable
  myVariable += " fantastic"    # Remember the assignment operator x = x + value
  print("Python is " + myVariable + "!" + " - from the function")

myVariable = "awesome"

myTestFunc()

print("Python is " + myVariable)

5.3 Parameters vs arguments
---

Description

---
A parameter placed inside of the parentheses when function is defined. Parameter is accessible only inside the function and argument can be accessible from anywhere in the program. An argument passed to the function when function is called. The shorthand notation for the arguments is args and for the keyword arguments is kwargs.  You can call a function with the following arguments:

* Positional arguments;
* Keyword arguments;
* Mixed arguments - a mix of positional and keyword arguments.

It is also important to provide the same number of arguments as defined in the parameter field of a function.

Syntax

---
          def  functionName(param 1, param 2, ..., param n): block of code
          call functionName(arg 1, arg 2, ..., arg n)

          def  functionName(param 1, param 2, ..., param n): block of code
          call functionName(arg 1 = val 1, arg 2 = val 2, ..., arg n = val n)

          def  functionName(param 1, param 2, ..., param n): block of code
          call functionName(arg 1, arg 2 = val 2, ..., arg n = val n)

Positional arguments
---

Description

---
Positional arguments are the most common way to pass values to a function. They are characterized by their positional order. These arguments are assigned to function parameters based strictly on their position in the functional call. The first argumant is matched to the first parameter, the second to the second, and so on. The positional order is important when you pass arguments to a function.

Syntax

---
      See examples below

Examples

---

In [ ]:
# Functions with one positional argument

def mySecondFunction(PersonName):
  print(PersonsName)

mySecondFunction("Olaf")
mySecondFunction("Kalfeoie")

In [ ]:
# Functions with two positional arguments

def myThirdFunction( myFirstName, mySecondName ):
  print(myFirstName + "  " + mySecondName)

myFirstName  = "Olaf"
mySecondName = "Kalfeoie"

myThirdFunction(myFirstName, mySecondName)

In [ ]:
# Functions with three positional arguments

def myThirdFunction( myFirstName, mySecondName, phoneNumber ):
  print(myFirstName + "  " + mySecondName + "  " + phoneNumber)

myFirstName  = "Olaf"
mySecondName = "Kalfeoie"
phoneNumber  = "1231234-1234"

myThirdFunction(myFirstName, mySecondName, phoneNumber)

Keyword arguments
---

Description

---
Keyword arguments allow you to pass values to a function by explicitly specifying the parameter names in the function call, rather relying on their positions. This makes the code more readable and flexible, especially when function has many parameters. Keyword arguments also allow you to skip certain parameters if they have default values.

Syntax

---
          See examples below

Examples

---

In [ ]:
# Keyword arguments with the key = value format in positional order

def myRegularFunction(name1, name2, name3):
  print(name1, name2, name3)

myRegularFunction(name1="Olaf", name2="Holiaf", name3="Linux")

In [ ]:
# Function with various key = value arguments without positional order

def myRegularFunction(name3, name1, name2):
  print(name1, name2, name3)

myRegularFunction(name2="Holiaf", name3="Linux", name1="Olaf")

In [ ]:
# Function with the keyword arguments without a positional order

def myAddFunction(numOne, numTwo):
  return numOne + numTwo

print ( myAddFunction(numTwo = 25, numOne = 5) )

Mixed arguments - a mix of positional and keyword arguments
---

Description

---
Mixed arguments refer to a combination of positional and keyword arguments used in a function call. When using mixed arguments, the positional arguments must appera first, followed by the keyword arguments. This allows for flexibility in passing arguments, ensuring that the required arguments are provided in order while optional ones can be specified by name. Using mixed arguments makes the function call more readable and helps to avoid errors, especially when dealing with functions that have many parameters, some of wich might have default values.

The rule of thumb, all the positional arguments should go before the keyword arguments.

Syntax

---
          See examples below

Examples

---

In [ ]:
# Functions with positional and keyword arguments

def myMixArgsFunction(firstVar, secondVar, thirdVar):
  print("Mixed arguments :", firstVar," ", secondVar," ", thirdVar)

myMixArgsFunction(2, thirdVar = 12, secondVar = 3)

In [ ]:
# Functions with positional and keyword arguments

def myMixArgsFunction(firstVar, secondVar, thirdVar):
  print("Mixed arguments :", firstVar," ", secondVar," ", thirdVar)

myMixArgsFunction(2, 12, secondVar = 3)

Functions with arbitrary number of arguments
---

Description

---
The \*args is a convention in Python when a number of arguments to be passed to the function is unknown. The \*args parameter allow to pass a variable number of positional arguments to the function. The wildcard * in front of args word makes the parameter iterable.

Syntax

---
          def functionName(*args):

Examples

---

In [ ]:
# Arbitrary number of arguments (*args), receives a tuple of arguments

def myFifthFunction(*args):
  print(args)

myFifthFunction("Olaf", "Stella", "Klaus", "Kontrate")

Functions with arbitrary number of keyword positional arguments
---

Description

---
To accept an arbitrary number of key word arguments one needs to use \**kwargs syntax. The double asterisk is used to indicate that the function can accept multiple key word arguments.

Syntax

---
          def functionName(**kwargs):

Examples

---

In [ ]:
# Arbitrary number of keyword arguments (**kwargs) recieves a dictionary of arguments

def myTestFunction(**kwargs):
  print(kwargs, end=" ")

myTestFunction(num1 = 1, num2 = 2, num3 = 3, num4 = 4)

In [ ]:
# Arbitrary number of keywords arguments

def myRegularFunction(**kwargs):
  print(kwargs)

myRegularFunction(myFirstName = "Oleaf", myLastName="Kwwiec", myMiddleName = "Komntras")

Functions with arbitrary number of positional arguments and keyword arguments
---

Description

---
It is also possible to create a function that will accept an arbitrary number of positional arguments and an arbitrary number of key word arguments. This function will collect the positional arguments into a tuple and key word arguments into a dictionary.

Rule of thumb \*args should come before \**kwargs.

Note

---
\*args collects all positional arguments passed to the function into a tuple.

\**kwargs collects all the keyword arguments to the function into a dictionary.

Syntax

---
          def functionName(*args, **kwargs):

Examples

---

In [ ]:
# Arbitrary number of arguments (*args) and keyword arguments (**kwargs)

def myTestFunction(*args, **kwargs):
  print(args, kwargs, end=" ")

myTestFunction(1, 2, 3, num1 = 1, num2 = 2, num3 = 3, num4 = 4)

Functions with default parameters
---

Description

---
Functions with default parameters allow you to assign default values to one or more parameters when defining a function. These default values are used if no arguments is provided for the parameter during the function call. Default parameters are specified using the assignment operator (=) in the function definition. It is important to place default parameters after all required (non-default) parameters in the function signature to avoid syntax errors.

Syntax

---
          def  functionName(param 1, param 2 = val 2, ..., param n = value n): block of code
          call functionName(arg 1, arg 2, ..., arg n)

Examples

---

In [ ]:
# Functions with default parameters

def myRegularFunction( myVar1, myVar2 = 0.34, myVar3 = 10 ):
  print(myVar1," ", myVar2," ", myVar3)

myRegularFunction(0.1)
myRegularFunction(0.1, 0.22)
myRegularFunction(0.1, 0.22, 123456)

5.4 Recursive functions
---

Description

---
A recursive function is a function that calls itself in order to solve a problem. This technique is useful for breaking down complex problems into simpler problems of the same type. A recursive function must have a base case to stop the recursion and prevent an infinite loop. A recursive case reduces the problem and makes a self-call. Recursive functions are powerful for tasks that involve repeated patterns, such as traversing trees or perform divide-and-conquer algorithms.

The recursive functions is when a function is referring to itself.

![Presentation_recursive.png]()

Syntax

---
          def functionName(parameters):
              if condition:
                  return value
              else
                  # recursive case
              return functionName(updated parameters)

Examples

---

In [ ]:
# Recursive function - can call itself (5! = 1*2*3*4*5)

def myRecursiveFunction(x):
  """ This is a recursive function to find a fuctorial"""
  if x ==1:
    return 1;
  else:
    return (x * myRecursiveFunction(x-1))

x = 5
print("The factorial of x", x, "is", myRecursiveFunction(x))

Functions with data sequences passed as arguments
---

Description

---
Functions can accept data sequences such as strings, lists, tuple, and sets as arguments, allowing them to perform operations on collection of values. When a sequence is passed to the function, it can be accessed using loops oe sequence operations like indexing, slicing, or built-in functions. One can create functions to accept the data sequences. This allows to perform operations on the data sequences within a function. Here are a few examples with list, dictionary, tuple, and set.

Syntax

---
          def functionName(sequence):
              for item in sequence:
                  block of code

Examples

---

In [ ]:
# Functions with a list as an argument

def myFishFunction(fish):
  for i in fish:
    print(i, end="; ")

fish = [ "Carp", "Bass", "Red Snapper", "Labeo culbasu", "Chanda Nama", "Ruffe" ]

myFishFunction(fish)

In [ ]:
# Functions with a tuple as an argument, key values by default, fish.values(), fish.items().

def myFishFunction(fish):
  for i in fish:
    print(i, end="; ")

fish = ( "Carp", "Bass", "Red Snapper", "Labeo culbasu", "Chanda Nama", "Ruffe" )

myFishFunction(fish)

In [ ]:
# Functions with a set as an argument

def myFishFunction(fish):
  for i in fish:
    print(i, end="; ")

fish = { "Carp", "Bass", "Red Snapper", "Labeo culbasu", "Chanda Nama", "Ruffe" }

myFishFunction(fish)

In [ ]:
# Functions with a dictionary as an argument, key values by default, fish.values(), fish.items().

def myFishFunction(fish):
  for i in fish:
    print(i, end="; ")

fish = { "Carp":1, "Bass":2, "Red Snapper":3, "Labeo culbasu":4, "Chanda Nama":5, "Ruffe":6 }

myFishFunction(fish)

Modyfing a list inside of the function
---

Description

---
You can return a modified sequence from a function just like any other value. After processing or transforming the sequence, the function can use the return statement to send the modified results back to the caller.

The data sequence can be modified inside of the function!

Syntax

---
          def functionName(sequence):
              block of code
              modified_sequence = ...
              return modified_sequence

Examples

---

In [ ]:
# Some examples with the list

def myListFunction(lst):
  del lst[2]                              # deleting number 3 from the list
  print("List after deleting the second index", lst)

lst = [1, 2, 3, 4, 5]

print( "My list before the deletion", lst )
myListFunction(lst)
print( "My list after the deletion",  lst )

5.5 Lambda function
---

Description

---
A lambda function is a small, anonymous function defined using the *lambda* keyword instead of the standard *def* syntax. Lambda functions are typically used for short, simple operations where defining a full function would be unnecessary verbose. Unlike regular functions, a lambda function can only contain a single expression and can not include multiple statements or assignments. They are often used as arguments to higher-order functions like *map()*, *filter()*, and *sorted()* for inline, on-the-fly functionality.

Lambda function is a function that does not have a function name. A lambda function can take any number of arguments but can have only one expression!

Syntax

---
          lambda variable: one expression

Examples

---

In [ ]:
# A lambda function can take any number of arguments but have only one expression
# lambda arguments : expression

myLambdaFunction = lambda myVar: myVar + 10.0
print(myLambdaFunction(10))

In [ ]:
# A lambda function with multiple arguments

myLambdaFunction = lambda myVar1, myVar2 : myVar1 * myVar2
print(myLambdaFunction(64, 256))

In [ ]:
# A lambda function with multiple arguments

myLambdaFunction = lambda myVar1, myVar2, myVar3 : (myVar1 + myVar2)/myVar3

print(myLambdaFunction(0.3, 0.4, 1.23))

5.6 Function annotations
---

Description

---
Function annotations are optional and can be used for parameters and return values. It is a way of connecting some function expressions and other parts of functions. Annotation is always preceding the parameter's default value. Columns are used to define an annotation. Annotation for the excess parameters are also used as args and kwargs. Lambda function does not support annotations.

Syntax

---
          def functionName(a: expression, b: expression):
          def functionName() -> expression
          def functionName(*args: expression, **kwargs: expression)

Return value annotation
---

Description

---
You can see the -> operator in some functions, which is the return value annotation. It is optional, it is just for information only and makes no difference for the interpreter.

Syntax

---
          def functionName(parameter) -> type:
              block of code
              return value

Examples

---

In [ ]:
# Return value annotation with integer type

def myIntFunction(myVal1: int, myVal2: int) -> int:
  return (myVal1 * myVal2)

print(myIntFunction(1,2))

In [ ]:
# Return value annotation with float type

def myFloatFunction(myVal1: float, myVal2: float) -> float:
  return (myVal1 * myVal2)

print(myFloatFunction(1.1, 2.4))

In [ ]:
# Return value annotation with str type

def myStrFunction(myVal1: str, myVal2: str) -> str:
  return (myVal1 + myVal2)

print(myStrFunction("***", "*****"))

In [ ]:
# To annotate the list return type you can use the return value annotation.

def myListFunction() -> list[str]:
   myList=[1,2,3,4,5]
   return myList

myList=myListFunction()
print(myList)

In [ ]:
# To annotate the dictioanry return type you can use the return value annotation.

def myDictFunction() -> dict[str:int]:
   myDict={"IDnumber":123456,"age":32}
   return myDict

myDict=myDictFunction()
print(myDict)

In [ ]:
# Return value annotation with a default parameter, the default parameter will be ignored.

def myTestFunction(myVal1: int, myVal2: int = 5) -> int:
  return (myVal1 * myVal2)

print(myTestFunction(1,2))

In [ ]:
# To annotate the tuple return type you can use the return value annotation.

def myTupleFunction(*args) -> tuple[int]:
    return args

myTuple = myTupleFunction(1,2,3,4,5)

print(myTuple)
print(type(myTuple))

In [ ]:
# To annotate the tuple return type you can use the return value annotation.

def myDictFunction(**kwargs) -> dict[str,str]:
    return kwargs

myDict = myDictFunction(Name="Oleaf", age="39")

print(myDict)
print(type(myDict))

# Section 6: Modules

6.1 Built-in modules

6.2 User defined modules

6.3 Importing modules

6.4 Plotting modules

6.5 Molecular visualization modules

6.1 Built-in modules
---

Description

---
We decompose our code in smaller pieces to make our code more readable. The way we can do this is to import modules to the code. A file that contains a set of functions is called a module. This module can be accessed from a program using "**import**" keyword. A module can also contain variables of all data types. You need to import a module to access all the functions and variables. Most python distributions come with many build-in modules like os, sys, time, math ... Here are a few examples with built-in functions such as os, sys, time, datetime, and math.

Syntax

---
          import module

Examples

---

In [ ]:
# To get current working directory path

import os

cwd = os.getcwd()

print("My current working directory: ", cwd)

In [ ]:
# To list content of your directory

import os

path="/content"

dir_content=os.listdir(path)

print("Content of my directory: ", dir_content)

In [ ]:
# In this example the version of Python interpreter is return as string
import sys

print(sys.version)

In [ ]:
# In this example we use sys.path that returns a list of directories
# where the Python interpreter will search for the available modules.
import sys

print(sys.path)

In [ ]:
# How to use time module
import time

print(time.strftime("%H:%M:%S"))

In [ ]:
# Date time now
import datetime

print(datetime.datetime.now())

In [ ]:
# To specify exact entity we need to use the following syntax.
import math

print(math.pi)

In [ ]:
# There is a dir() function that lists all the functions inside of a module

import math

myFirstList=dir(math)
print(myFirstList)

6.2 User defined modules
---

Description

---
The following example should be performed in Jupyter Lab. Once you import a module the Python executes it immediately, that is why most of the modules contain functions and variables' definitions only. Some modules not only contain the functions but also some automated tests making sure that the functions work correctly. These tests are not activated upon the call but independently. Each module will be initialized only once eventhough you might have a few initializations in different files. Python will be aware of all the modules imported in other files.

Syntax

---
          Creating a module

          # mymodule.py

          def myFunction(parameters):
              block of code
              return result

          Using the module

          import mymodule
          mymodule.myFunction(arguments)

Examples

---

In [ ]:
# myOwnModule
if __name__=="__main__":
  print("This module runs directly")
else:
  print("This module is imported")

In [ ]:
#Main code
import myOwnModule

In [ ]:
# Save your file as myFirstModule.py

def greeting(name):
  print("Hello, " + name)

worker={"name":"John", "age":48, "country":"Germany"}

In [ ]:
# Import my own module
import myFirstModule

myFirstModule.greeting("Daniel")
myFirstModule.worker["age"]

6.3 Importing modules
---

Description

---
Modules are imported using the *import* statement, which allows you to access functions, classes, and variables defined in another file or built-in library. You can import an entire module using *import module name* statement, access its members with dot notation. To simplify access or avoid naming conflicts, you can assign an alias as *import module name as alias*. If you need only specific componentsfrom a module, you can use *from module name import item1, item2, ... * which lets you to use those items directly withoutthe module prefix. Additionally, *from module name import* * will import all public components, but it can lead to the namespace conflicts.

Syntax

---

        import module

        from module import *
        
        from module import entity1, entity2, ...
        
        import module as short name or alias
        
        from module import entity name as short name
        
        Both statements ( 1. and 2. ) are importing all
        the entities from the module. The difference is
        that in the first example you need to use prefix
        (module.method) to refer to the method and in the
        second example you do not need to use the prefix.

Examples

---

In [ ]:
# Importing just the entire module, importing all the entities.
import math

print(math.pi) # Built in

In [ ]:
# You can import everything from the module using an asterisk.
# It is not recommended to do so since a lot of conflicts can appear with your
# own function names and they will be replaced. You also need to notice that
# you do not need to specify math prefix anymore. You can just use the name itself.

from math import *

print("Pi number", pi)

In [ ]:
# Importing just some of the entities.
from math import acos, pi

print(acos(-1))
print(pi)

In [ ]:
# You can also import a module using an alias to refer to the module,
# a shorter name or an acronym for example.
import math as mth

print("Pi number :", mth.pi)

In [ ]:
# You can also import a module using an alias to refer to the module,
# a shorter name or an acronym for example.

import random as rnd

print(rnd.randint(0,9)) #Returns a number in a<=N<=b or [a,b] inclusive

In [ ]:
# Generating an array of random numbers
from numpy.random import seed
from numpy.random import randint

seed(1)

randomValues = randint(0,10,20)
print(randomValues)

Note

---
Most popular python modules

1. Data analysis

          **NumPy** - module is used for variety of mathematical operations on arrays.

          **Pandas** - module designed to work with the datasets, data analysis.

2. Artificial intelligence and machine learning

          **Scikit-learn** - module with machine learning libraries.

          **TensorFlow** - end-to-end machine learning module.

          **PyTorch** - module with the largest machine learning library.

          **Keras** - module with machine learning libraries.

3. Web development

          **Django** - module designed to help build webpages using pyhton.

          **Flask**  - a lightweight and flexible micro-framework.

4. Data visualization

          **MatplotLib** - module for creating static, animated, and interactive graphs.

5. Scientific computing

          **SciPy** - module with a lot of mathematical algorithms and functions.
---

6.4 Plotting module
---

Description

---
The plotiing module usually refers to the plotting libraries like Matplotlib or Seaborn, which are used to create visualizations such as line graphs, bar charts, histograms, scatterplots, animations, and more. Matplotlib is a versatile plotting library that provides a wide range of static, animated, and interactive plots. It allows a user to customize almost all aspects of a plot, including labels, titles, colors, and styles. It provides a higher level interface for creating aesthetically pleasing and informative statistical graphics, with buil-in themes and color pallets. This library is commonly used in data analysis, data science, and machine learning projects to visualize trends, distributions, and relationships between variables, helping to understand data better and communicate more effectively.

Matplotlib is the most popular plotting module. It is used to create static, animated, and interactive graphs!

Syntax

---
      import matplotlib.pyPlot as plt

Examples

---

In [ ]:
# Importing the required module as alias plt
import matplotlib.pyplot as plt

# Generate x,y-axis values
x=[1,2,3,4]
y=[1,2,3,4]

# Plotting the points
plt.plot(x,y)

# Figure and axis titles
plt.title ('Figure Title', fontsize=12, color='red')
plt.xlabel('X-axis Title', fontsize=12, color='blue')
plt.ylabel('Y-axis Title', fontsize=12, color='black')

# Show the plot using show() function
plt.show()

In [ ]:
# Importing the required module as alias plt and np
import matplotlib.pyplot as plt
import numpy as np

# Generate x,y-axis values
x = np.array([1, 8])
y = np.array([3, 10])

# Plotting the points
plt.plot(x, y)

# Figure and axis titles
plt.title ('Figure Title', fontsize=12, color='red')
plt.xlabel('X-axis Title', fontsize=12, color='blue')
plt.ylabel('Y-axis Title', fontsize=12, color='black')

# Show the plot using show() function
plt.show()

In [ ]:
# Importing the required module as alias plt and np
import matplotlib.pyplot as plt
import numpy as np

# Generate 150 evenly spaced theta values from 0 to 2pi.
theta = np.linspace( 0 , 2 * np.pi , 150 )

# Setting up radius of the circle
radius = 0.2

# Calculating the x and y coordinates of points on a circle given the radius
x = radius * np.cos( theta )
y = radius * np.sin( theta )

# Creating two variables figure and axes
# figure represents the entire figure
# axes represent the plot itself
# plt.subplots(1) creates just one plot
figure, axes = plt.subplots( 1 )

# Plotting the points
axes.plot( x, y )

# Setting the aspect ratio to 1, plot will have equal scaling in x and y
axes.set_aspect( 1 )

# Show the title of the plot
plt.title( 'Parametric Equation Circle', fontsize=12, color='red' )
plt.xlabel('X-axis Title', fontsize=12, color='blue')
plt.ylabel('Y-axis Title', fontsize=12, color='black')

# Show the plot using show() function
plt.show()

In [ ]:
# Importing the required module as alias plt, mth, and np
import matplotlib.pyplot as plt
import math as mth
import numpy as np

# Generate x from 0 to 1*pi (not included) with the step size of 0.01 between each value
x = np.arange(0,10 * np.pi, 0.01)
y = np.cos(x)

# Plotting the points
plt.plot(x, y)
plt.grid(True)

plt.xlabel('x', fontsize=12, color='blue')
plt.ylabel('cos(x)', fontsize=12, color='blue')
plt.title('Cosine Function', fontsize=12, color='blue')

# Show the plot using show() function
plt.show()

6.5 Molecular visualization modules
---

Description

---
Py3Dmol and RDKit are popular Python modules widely used for molecular visualization and cheminformatics. Py3Dmol is a Python wrapper for the JavaScript-based 3Dmol.js library, allowing users to create high-quality interactive 3D visualizations of molecular structures directly in Python environments, such as in Jupyter notebooks. It supports formats like PDB, MOL, and SDF providing tools to render molecular surfaces, labels, and animations, making it ideal for structural biology and computational chemistry.

RDKit is powerful tool for cheminformatics, enabling manipulation for chemical structures, computationa of molecular descriptors, and generation of 2D and 3D representations.It can also generate static and iinteractive visualizations, often in combinations with tools like Py3Dmol.

Syntax

---
          See examples below

Examples

---

In [ ]:
!pip install Py3Dmol

Collecting Py3Dmol
  Downloading py3Dmol-2.0.4-py2.py3-none-any.whl (12 kB)
Installing collected packages: Py3Dmol
Successfully installed Py3Dmol-2.0.4

In [ ]:
import py3Dmol

In [ ]:
p = py3Dmol.view(query='mmtf:1ylr')

![Slide1.png](![Slide2.png](![Slide2.png]()))

In [ ]:
p.setStyle({'cartoon': {'color':'spectrum'}})

In [ ]:
!pip install rdkit

Collecting rdkit
  Downloading rdkit-2023.9.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.4/34.4 MB 42.8 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from rdkit) (1.25.2)
Requirement already satisfied: Pillow in /usr/local/lib/python3.10/dist-packages (from rdkit) (9.4.0)
Installing collected packages: rdkit
Successfully installed rdkit-2023.9.5

In [ ]:
from rdkit import Chem
from rdkit.Chem.Draw import IPythonConsole
from rdkit.Chem import Draw
from rdkit.Chem import rdAbbreviations

In [ ]:
m = Chem.MolFromSmiles('COc1ccc(C(=O)[O-])cc1')
substructure = Chem.MolFromSmarts('C(=O)')
print(m.GetSubstructMatches(substructure))
m

# Section 7: Classes

7.1 Building simple classes

7.2 Classes and objects

7.3 Encapsulation and abstraction

7.4 Inheritance

7.5 Methods overriding

7.6 Polymorphism

7.1 Building simple classes
---
Python is an object-oriented high-level programming (OOP) language. Objects are an important part of Python programming. In fact, everything is an object in Python with default data and some functionality. Objects have attributes (variables) and methods (functions) specified in the class. To build an object, you need to use a constructor function ( _ _ init _ _() ). A constructor is a special function that is used to make an instance of a class. A class is like a blueprint that helps to create an object. You can then use that object (instance) of a class to assign some data and functionality. There are four main principles of object-oriented high-level programming.

1. Encapsulation,

2. Abstraction,

3. Inheritance, and

4. Polymorphism.

---

Syntax:

        class ClassName():
              def _ _ init _ _(self):
                  block of code

Note

---
Unlike variables, classes always start with the capital letters.

---

In [ ]:
# Creating your first class

class FirstClass:
      myVariable = 1

7.2 Classes and objects
---
The _ _ init _ _() function is called automatically everytime a new object is created. All python constructors must have at least one parameter, by convention it is called "**self**", however, you can call it anything you want. The "**self**" parameter is used to access variables that belong to the class. First argument of the constructor is always filled automatically for us. Attributes are just variables inside of your constructor function.

---

In [ ]:
# Using _ _init_ _() function with classes

# Class definition template
class Employee:

      # Class constructor
      def __init__(self, name, age):

        # Class attributes
        self.name = name
        self.age = age

In [ ]:
# Using _ _init_ _() function with classes

# Class definition template
class Employee:
      def __init__(self, name, age):
        self.name = name
        self.age = age

      # Class method
      def listInfo(self):
        print("Hello, My name is", self.name, "and I am", self.age, "years old.")

In [ ]:
# Using _ _init_ _() function with classes

# Class definition template
class Employee:
      def __init__(self, name, age):
        self.name = name
        self.age = age

      # Class method
      def listInfo(self):
        print("Hello, My name is", self.name, "and I am", self.age, "years old.")

# Creating a new object of a class
mySecondObject = Employee("John", 48)

In [ ]:
# Using _ _init_ _() function with classes

# Class definition template
class Employee:
      def __init__(self, name, age):
        self.name = name
        self.age = age

      # Class method
      def listInfo(self):
        print("Hello, My name is", self.name, "and I am", self.age, "years old.")

# Creating a new object of a class, the first argument is the reference to the object.
mySecondObject = Employee("John", 48)

# Accessing the method of the class
mySecondObject.listInfo()

Hello, My name is John and I am 48 years old.

7.3 Encapsulation and abstraction
---
 Encapsulation involves the bundling of data (attributes) and method (functions) that operate on data within a single unit. A single unit is known as a class. It allows one to access and modify the attributes while keeping the attributes private.

 Abstraction is a way to simplify the complex reality by creating a class and hide some unnecessary details. You can implement abstraction using classes and methods, where you show only the relevant details and hiding the internal implementation.  

---

In [ ]:
class Train:

    # Constructor
    def __init__(self, kind, length, speed):

        # Adding properties of the class
        self.kind     = kind
        self.length   = length
        self.speed    = speed

In [ ]:
class Train:

    # Constructor
    def __init__(self, kind, length, speed):

        # Properties of the class
        self.kind     = kind
        self.length   = length
        self.speed    = speed

    # Adding methods of the class
    def speed_up(self):
        self.speed += 1

    def speed_down(self):
        self.speed -= 1

    def show_speed(self):
        print("Current speed of my train is", speed)

In [ ]:
class Train:

    # Constructor
    def __init__(self, kind, length, speed):

        # Properties of the class
        self.kind     = kind
        self.length   = length
        self.speed    = speed

    # Adding methods of the class
    def speed_up(self):
        self.speed += 1

    def speed_down(self):
        self.speed -= 1

    def show_speed(self):
        print("Current speed of my train is", self.speed)

# Creating an object
myTrain = Train("High-speed", 2, 0)

In [ ]:
class Train:

    # Constructor
    def __init__(self, kind, length, speed):

        # Properties of the class
        self.kind     = kind
        self.length   = length
        self.speed    = speed

    # Adding methods of the class
    def speed_up(self):
        self.speed += 1

    def speed_down(self):
        self.speed -= 1

    def show_speed(self):
        print("Current speed of my train is", self.speed, "miles an hour")

# Creating an object
myTrain = Train("High-speed", 2, 0)

myTrain.speed_up()
myTrain.speed_up()
myTrain.speed_up()

myTrain.show_speed()

In [ ]:
class Train:

    # Constructor
    def __init__(self, kind, length, speed):

        # Properties of the class
        self.kind     = kind
        self.length   = length
        self.speed    = speed

    # Adding methods of the class
    def speed_up(self):
        self.speed += 1

    def speed_down(self):
        self.speed -= 1

    def show_speed(self):
        print("Current speed of my", self.kind, " train is", self.speed, "miles an hour")

# Creating an object
myTrain = Train("High-speed", 2, 0)


# Accessing the speed and kind properties directly
myTrain.speed = -200
myTrain.kind  = "Regional"

myTrain.show_speed()

Private property
---
One can have a property private that should be prefixed with an underscore _ or _ _ . While it does not make it entirely private, it sends a signal to a developer that these properties should not be accessed directly.
Changing a name with two underscores (mangling) makes it harder to access or override. However, you wont be able to hide the attributes completely and you can still access them.

---

In [ ]:
class Train:

    # Constructor
    def __init__(self, kind, length, speed):

        # Properties of the class
        self.__kind       = kind
        self.length     = length

        # Making the speed property private
        self._speed    = speed

    # Adding methods of the class
    def speed_up(self):
        self._speed += 1

    def speed_down(self):
        self._speed -= 1

    def show_speed(self):
        print("Current speed of my", self.__kind, " train is", self._speed, "miles an hour")

# Creating an object
myTrain = Train("High-speed", 2, 0)

# Accessing the speed and kind properties directly
myTrain.speed = -200
myTrain.kind  = "Regional"

myTrain.show_speed()

Private method
---
One can have a private method defined within a class. It also should be prefixed with an underscore _ or _ _ by convention.

---

In [ ]:
class Train:

    # Constructor
    def __init__(self, kind, length, speed):

        # Properties of the class
        self.__kind       = kind
        self.length     = length

        # Making the speed property private
        self._speed    = speed

    # Adding methods of the class
    def speed_up(self):
        self._speed += 1

    def _speed_down(self):
        self._speed -= 1

    def show_speed(self):
        print("Current speed of my", self.__kind, " train is", self._speed, "miles an hour")

# Creating an object
myTrain = Train("High-speed", 2, 0)

# Accessing the private method speed_down.
myTrain.speed_down()

7.4 Enheritance
---
 Enheritance provides a way to create a new class based on the existing class, inheriting its attributes and methods. We can create a superclass, which is broad and subclass that is more detailed. Here is an example of the inheritance.

---

In [ ]:
# Define a parent or superclass class.
# Animal is the broad category, encompassing all living organisms.

class Animal:
    pass

# Define a child or subclass class that inherits from Animal.
# Mammals are a specific class of animals, they are characterized
# by certain distinctive features like mammary glands and hair.

class Mammal(Animal):
    pass

# Define a child or subclass class that inherits from Mammal.
# Dog is the specific specie within the mammal class.

class Dog(Mammal):
    pass

#issubclass(Mammal,Animal)
#issubclass(Dog,Mammal)
#issubclass(Dog,Animal)

myDog = Dog()
print(myDog.__dict__)

In [ ]:
# Define a parent or superclass class.
# Animal is the broad category, encompassing all living organisms.

class Animal:
    def __init__(self,name):
      self.name = name

# Define a child or subclass class that inherits from Animal.
class Mammal(Animal):
    pass

# If you do not specify the constructor explicitely in Dog subclass
class Dog(Mammal):
    pass

myDog = Dog("Rex")
print(myDog.__dict__)

In [ ]:
# Define a parent or superclass class.
# Animal is the broad category, encompassing all living organisms.

class Animal:
    def __init__(self,name):
      self.name = name

# Define a child or subclass class that inherits from Animal.
# Mammals are a specific class of animals, they are characterized
# by certain distinctive features like mammary glands and hair.

class Mammal(Animal):
    def __init__(self, color):
      self.color = color

# If you do not specify the constructor explicitely in Dog subclass
# Python will look for it in superclass

class Dog(Mammal):
    pass

myDog = Dog("golden")
print(myDog.__dict__)

{'color': 'golden'}

In [ ]:
# Define a parent or superclass class.
# Animal is the broad category, encompassing all living organisms.

class Animal:
    def __init__(self,name):
      self.name = name

# Define a child or subclass class that inherits from Animal.
# Mammals are a specific class of animals, they are characterized
# by certain distinctive features like mammary glands and hair.

class Mammal(Animal):
    def __init__(self, name, color):
      Animal.__init__(self, name)
      self.color = color

# If you do not specify the constructor explicitely in Dog subclass
# Python will look for it in superclass

class Dog(Mammal):
    pass

myDog = Dog("Rex", "golden")
print(myDog.__dict__)

In [ ]:
# Define a parent or superclass class.
# Animal is the broad category, encompassing all living organisms.

class Animal:
    def __init__(self,name):
      self.name = name

# Define a child or subclass class that inherits from Animal.
# Mammals are a specific class of animals, they are characterized
# by certain distinctive features like mammary glands and hair.

class Mammal(Animal):
    def __init__(self, name, color):
      super().__init__(name)
      self.color = color

# If you do not specify the constructor explicitely in Dog subclass
# Python will look for it in superclass

class Dog(Mammal):
    pass

myDog = Dog("Rex", "golden")
print(myDog.__dict__)

In [ ]:
# Define a parent or superclass class.
# Animal is the broad category, encompassing all living organisms.

class Animal:
    def __init__(self,name):
      self.name = name

# Define a child or subclass class that inherits from Animal.
# Mammals are a specific class of animals, they are characterized
# by certain distinctive features like mammary glands and hair.

class Mammal(Animal):
    def __init__(self, name, color):
      super().__init__(name)
      self.color = color

# If you do not specify the constructor explicitely in Dog subclass
# Python will look for it in superclass

class Dog(Mammal):
    pass

myDog = Dog("Rex", "golden")
print(myDog.__dict__)

# Inheriting the name variable from Animal superclass
myDog.name = "Rocky"
print(myDog.__dict__)

Note

---
In case of super() keyword you do not need a self parameter since it is going to be taken automatically.

___

Syntax:

        ClassName.__init__(self, varName)
          super().__init__(varName)

In [ ]:
# Define a parent or superclass class.
# Animal is the broad category, encompassing all living organisms.

class Animal:
    message = "This message is from Animal superclass"
    def __init__(self,name):
      self.name = name

# Define a child or subclass class that inherits from Animal.
# Mammals are a specific class of animals, they are characterized
# by certain distinctive features like mammary glands and hair.

class Mammal(Animal):
    def __init__(self, name, color):
      super().__init__(name)
      self.color = color
      print(super().message)

# If you do not specify the constructor explicitely in Dog subclass
# Python will look for it in superclass

class Dog(Mammal):
    pass

myDog = Dog("Rex", "golden")

Note

---
Method Resolution Order (MRO) is the order in which Python looks for a method or attribute when it is called on an instance of a class that involves inheritance. It becomes especially important in cases of multiple inheritance.

---

Syntax:

        Class Name._ _ mro _ _

7.5 Diamond problem
---
 There is a specific issue when you deal with multiple inheritance, it is called a diamond problem. A one class inherits from two classes that both inherits from a common superclass. This can call ambiguity in the Method Resolutin Order (MRO). Which method gets called when a method is invoked.  

---

 7.5  Method overriding
---
Method overriding provides a subclass to define a method that has alredy being
defined in its superclass.

---

In [ ]:
# Define a parent or superclass class.
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        pass  # This method will be overridden in subclasses

# Define a child or subclass class that inherits from Animal.
class Dog(Animal):
    def speak(self):
        print ("Woof, Woof!")

# Define a child or subclass class that inherits from Animal.
class Cat(Animal):
    def speak(self):
        print ("Meow, Meow!")

# Create instances of the subclasses
myDog = Dog("Rex")
myCat = Cat("Misty")

# Call the speak method on each instance
myDog.speak()
myCat.speak()

7.6 Polymorphism
---
 Polymorphism is an ability for a method to be executed on different objects. We can have multiple classes with the same method name.  

---

In [ ]:
# Define a parent or superclass class.
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        pass  # This method will be overridden in subclasses

# Define a child or subclass class that inherits from Animal.
class Dog(Animal):
    def speak(self):
        print ("Woof, Woof!")

# Define a child or subclass class that inherits from Animal.
class Cat(Animal):
    def speak(self):
        print ("Meow, Meow!")

# Create instances of Dog and Cat
myDog = Dog("Rex")
myCat = Cat("Misty")

# Create a function that takes an Animal object and makes it speak
# When myDog and myCat instances are passed to the function,
# it is showing polymorphism. The function works with objects of
# different classes and calls the appropriate speak method for
#each object.

def animalSpeak(animal):
    return animal.speak()

# Call the make_animal_speak function with different animal objects
animalSpeak(myDog)
animalSpeak(myCat)

# Section 8: Exceptions

Description:

---
        An exception is activated by an execution error that will terminate the
        program execution. Exceptions are controlled by try and except branches.

        1. try is executed
        2. if no exception occurs, exception is skipped
        3. if exception occures matching the exception name, the exception statement is executed
        4. if there is no exception named it passes to the outer try statement

        The list of most common exceptions in Python language:

        ZeroDivisionError - raised if division by zero has attempted;
        AttributeError - raised if method tried that does not exist;
        SyntaxError - raised in violation of Python's grammar;
        ValueError - raised when wrong use of values;
        TypeError - raised when wrong type of data;
        NameError - raised when variable or function does does not exist.
---

Syntax:

        try:    block of code that causes an exception
        except: block of code to run when exception occures

Errors
---
Exceptions are the errors that Python generates. Python does not know what to do and it raises an exception. One of the most often errors is the syntax error. Syntax errors are very easy to find and fix. Here's an example of simple syntax error.

---

8.1 Syntax error
---
 The syntax errors are the most common errors in programming.

---

In [ ]:

if True;
print("Hello, World!")

8.2 Value error
---

---

In [ ]:
# Exception for division by zero

myDivision = (1.0/float(input("Enter any number except zero ")))

8.3 Zero division error
---

---

In [ ]:
# Exception for division by zero

myDivision = (1.0/float(input("Enter any number except zero ")))

Note

---
When you see the error you are given some useful information, a line that produces the error, name of the error, and you can see a descriptive message that will help you to debug the program.

---

8.4 Exception with one error
---
 This example shows try: except: block implementation with ZeroDivisionError.

---

In [ ]:
# Exception for division by zero

def devisionByZero():
   myDivision = (1.0/float(input("Enter any number except zero ")))
   return myDivision

try:
  devisionByZero()
except ZeroDivisionError:
  print('Division by zero has been attempted')

8.5 Exception with three errors
---
 This example shows try: except: block implementation with ValueError, ZeroDivisionError, and TypeError.

---

In [ ]:
# Exception for division by zero

def devisionByZero():
   myDivision = (1.0/float(input("Enter any number except zero ")))
   return myDivision

try:
    devisionByZero()
except ValueError:
  print("Wrong value input")
except ZeroDivisionError:
  print("Division by zero")
except TypeError:
  print("Error")

8.6 Assertion exception
---
 We can make some assumptions on outcome of our code and create an assertion. The assertion is uset for debugging and documenting your code.

---

In [ ]:
def inverse_function(a):
  assert (a > 0), 'Division by zero, attempt!'
  return 1/a

In [ ]:
print(inverse_function(0.05))

20.0

In [ ]:
for subclass in ZeroDivisionError.__subclasses__():
    print(subclass.__name__)

8.7 Exception with else statement
---
 Here is the example of an exception with else statement. Everything will be executed for an else statement if any except statement will fail.

---

In [ ]:
try:
  my_number = int(input("Enter any number"))
except:
  print('You did not provide a number')
else:
  print('Great, this number works fine')

8.8 Exception with finally statement
---
 Here is the example of an exception with finally keyword. The finally keyword should be placed at the very end of the try: ... except: ... block. Everything will be executed regardless weather other exceptions catch the mistake.

---

In [ ]:
try:
  my_number = int(input("Enter any number"))
except:
  print('You did not provide a number')
else:
  print('Great, this number works fine')
finally:
  print('Great, it finally works')

8.9 Exception with raise statement
---
 Here is the example of an exception with raise keyword. The raise keyword should be placed within your code if you want to debug and to verify your code.

---

In [ ]:
def my_number(a):
  try:
    return 1/a
  except:
   raise

In [ ]:
my_number(0)

8.10 Exception object
---
 This example shows try: except: block implementation with objects.
 Meaningful error messages can be obtained using this method.

---

In [ ]:
def compare_two_numbers(a,b):
    if a > b: return a
    else: return b

In [ ]:
try:
      compare_two_numbers(5,'d')
except Exception as e:
       print (e)

'>' not supported between instances of 'int' and 'str'

In [ ]:
try:
   raise Exception ('I like it')
except Exception as e:
  print(e.args)

('I like it',)

In [ ]:
try:
   5 < 'a'
except Exception as e:
  print(e.args)

("'<' not supported between instances of 'int' and 'str'",)

In [ ]:
try:
   1/0
except Exception as e:
  print(e.args)

('division by zero',)

8.11 Creating your own exceptions
---

---

8.12 Subclasses of a class
---
 There is an hierarchy of exceptions.

                BaseExceptions
                    |
                Exception - SystemExit - KeyboardInterrupt - ...
                    |
                ArithmeticError - LookupError - ...
                    |
                ZeroDivisionError - ...


 You can see all subclasses keyword with _ _ name _ _ method to print them all.

---

In [ ]:
for subclass in BaseException.__subclasses__():
    print(subclass.__name__)

In [ ]:
for subclass in Exception.__subclasses__():
    print(subclass.__name__)

In [ ]:
for subclass in ArithmeticError.__subclasses__():
    print(subclass.__name__)

# Section 9: Input and output (I/O) operations

9.1 User input

9.2 File input output

9.3 Print function

Note

---
Input and output in Python involves reading data from various sources and writing data to various destinations. Pyhton provides several ways to handle input and output. Here are examples of the most commpn methods.

---

9.1 User input
---
User input is allowed in Python. The input() method (python 3.6) or raw_input method in python (2.7) can be used.

---

Syntax:

        variable = input( " Corresponding text for a user " )

In [ ]:
# The user input

userName = input("Enter your user name plz: \n")

print("Your username is: " + userName)

9.2 File input and output
---
File input and output in Python is a way to read from and write to a file on your loacal machine. Python provides a few methods to work with files. Files in Pyhton can be created, read, appended, ... open() function can be used to work with files in Python. This function takes two parameters: filename and mode.

---
        
        Method (mode) for opening a file:
        r - Read - Default value. Opens a file for reading, error if the file does not exist
        a - Append - Opens a file for appending, creates the file if it does not exist
        w - Write - Opens a file for writing, creates the file if it does not exist
        x - Create - Creates the specified file, returns an error if the file exists
        
        In the text or binary modes
        
        t - Text - Default value. Text mode
        b - Binary - Binary mode (e.g. images)

Syntax:

        file = open("filename", "mode")

___

In [ ]:
# To open a file - requires explicit closing

myFirstFile = open( "myDataFile.txt", "rt" )
myFirstFile.close()                       #Close the file when you are finished.

In [ ]:
# To open a file - requires explicit closing

myFirstFile = open( "myDataFile.txt", "r" )

myFirstFile.read()
myFirstFile.readline()

myFirstFile.close()                       #Close the file when you are finished.

In [ ]:
# Loop through the entire file

myFirstFile = open( "myDataFile.txt", "r" )

for i in myFirstFile: print(i)

myFirstFile.close()                      # Close the file when you are finished.

It is going to the end of a file

In [ ]:
# To append to a file you need to use "a" parameter

myFirstFile = open( "myDataFile.txt", "a" )

myFirstFile.write("It is going to the end of a file")

myFirstFile.close() #Close the file when you are finished.

# Open and read the file after the appending

myFirstFile = open( "myDataFile.txt", "r" )

print(myFirstFile.read())

myFirstFile.close() #Close the file when you are finished.

Creating a new file
---

        Method (mode) for opening a file:
        r  - Open   - will open a file for reading;
        x  - Create - will create a file, returns an error if the file exist;
        a  - Append - will create a file if the specified file does not exist;
        w  - Write  - will create a file if the specified file does not exist.

In [ ]:
# Creating a new file

myFirstFile = open( "myDataFile2.txt", "x" ) # a new and empty file is created
myFirstFile = open( "myDataFile3.txt", "w" ) # if there is no file, it will be created
myFirstFile = open( "myDataFile4.txt", "a" ) # if there is no file, it will be created

myFirstFile.close()

In [ ]:
# To delete the file you need to import the os module

import os

if os.path.exists("myDataFile.txt"):
   os.remove("myDataFile.txt")
else:
  print("This file does not exist")

In [ ]:
# To delete the entire folder

import os

os.rmdir("myFolder")

Open file with "with" option
---

Description:

---
        Using the open() method requires you to use the close() method to close
        the file. "with" option allows to open files as it returns a file
        object, which has methods and attributes to manipulate the files.

---
Syntax:

        with open("myDataFile.txt) as file:

In [ ]:
# Using "with" - no explicit closing of a file is required

with open("myDataFile.txt", "a") as myFirstFile:
  myFirstFile.write("Hello World!")

# You do not need to close it explicitely

9.3 Print function
---
Print function is usually used for to print python objects as standard output.

---
Syntax:

        print(objects, sep, end, file, flush)

        objects - strings, tuples, lists, etc.
        sep - an optional parameter that is used to define a separation.
        end - an optional parameter that is used to define an end of a string printed.
        file - an optional parameter when writing to the file.
        flush - an optional boolean parameter setting flushed or buffered output.

In [ ]:
# Printing the objects

myList   = [ 1, 2, 3, 4, 5 ]

myTuple  = ( 1, 2, 3, 4, 5 )

myString = "1, 2, 3, 4, 5"

print(myList, myTuple, myString)

[1, 2, 3, 4, 5] (1, 2, 3, 4, 5) 1, 2, 3, 4, 5

In [ ]:
# Printing objects with a separator

myList   = [ 1, 2, 3, 4, 5 ]
myTuple  = ( 1, 2, 3, 4, 5 )
myString = " 1, 2, 3, 4, 5 "

print(myList, myTuple, myString, sep="/")

[1, 2, 3, 4, 5]/(1, 2, 3, 4, 5)/ 1, 2, 3, 4, 5

In [ ]:
# Printing objects with a separator and an end

myList   = [ 1, 2, 3, 4, 5 ]
myTuple  = ( 1, 2, 3, 4, 5 )
myString = " 1, 2, 3, 4, 5 "

print(myList, myTuple, myString, sep=" ; ", end=" END")

[1, 2, 3, 4, 5] ; (1, 2, 3, 4, 5) ;  1, 2, 3, 4, 5  END

In [ ]:
# Using flush command

import time
countSeconds = 3

for i in reversed(range(countSeconds + 1)):
  if i> 0:
    print(i, end="/", flush=True)  #flush specifies if it is flushed (True) or buffered (False)
    time.sleep(1)
  else:
    print('End of a file')

3/2/1/End of a file

Formating output from print() function
---
General syntax is listed for a format placeholder.

---
Syntax:
              
             ' %d %s ... %.2f '    %         ( 1, 2, ..., n)
            |------------------|   %   |-------------------------|
                  template      modulus    positional arguments   
       print(' %d %s ... %.2f'     %         ( 1, 2, ..., n)     )  


            |------------------|.format|-------------------------|
                  template       format    positional arguments
       print(' {} {} ... {} n'  .format      ( 1, 2, ..., n )    )

       print(' {key} ... {} n'  .format     (key = value, ...)   )

       print(f'{} {} ... {} n' )

In [ ]:
# Output formatting in python
# This program is showing how to use
# string modulo operator(%) to print various data types

# print integer and float value
print("Integer number : %2d, float number : %5.2f" % (11, 05.333))

# print integer value
print("Total students : %3d, Boys : %2d" % (240, 120))

# print octal value
print("%7.3o" % (25))

# print integer value
print("%7.3d" % (25))

# print exponential value
print("%10.3e" % (356.08977))

In [ ]:
# Output formatting in python
# This program is showing how to use
# string modulo operator(%) to print various data types
print('%d %s cost $%.2f' % (3, 'oranges', 5.11))

In [ ]:
# Control output using format() method with one argument

myString = "Python language was created in {}"

print(myString.format(1985))

In [ ]:
# Python’s string.format() method is used instead
print('{0} {1} cost ${2}'.format(3, 'oranges', 5.11))
#     |-----------------|.format|--------------------------|
#           template     .format    positional arguments

In [ ]:
# Using keyword parameters instead of positional arguments
print('{quantity} {item} cost ${price}'.format(quantity=3,item='oranges',price=5.11))

In [ ]:
# Output formatting in Python
# This program is showing how to use
# f-string to print various data types

quantity = 3
item = 'oranges'
price = 5.11

print(f'{quantity} {item} cost ${price}')